<style type="text/css">
.rotate {
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
img, hr {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}

.rotating {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}
</style>

<div class="rotating">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Team IT</h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-8">
          <img class="img-responsive rotating center-block" src="/assets/images/teamit.jpg" alt="">
      </div>
      <div class="col-md-4">
        <p>
          <p>Team IT is verantwoordelijk voor alles dat te maken heeft met computers en internet op het festival.</p>
          <p>De Coordinator Access Management beheert een database van alle crew, leveranciers, VIPs,... en zorgt dat zij in de juiste zones binnenmogen. Hij zorgt er tevens voor dat iedere coordinator 's ochtends een walkie krijgt, en dat die 's avonds ook terugkeren naar hun laadstation.</p>
          <p>De Coordinator Hardware houdt zich op de maanden vooraf, maar zeker ook  tijdens de festivalweek bezig ervoor zorgen dat iedere computer op het terrein een verbinding heeft met het internet. Dit komt vooral neer op het trekken van een kleine kilometer aan ethernetkabel.</p>
          <p>De Coordinator Website/Mailing/Printing is administrator van online aanwezigheid van de Student Kick-Off. Hij beheert de website, en zorgt dat iedere coordinator via mail bereikbaar blijft. Tijdens de festivalweek is hij het aanspreekpunt voor last-minute drukwerk.</p>
        </p>
      </div>

  </div>
  <div class="row">

      <div class="col-lg-12">
          <h3 class="page-header">Teamleden</h3>
      </div>

     <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Jeroen De Clerck</h3>
          <p>Team Lead<br>
          Informatica<br>
          Universiteit Gent<br>
          <a href="mailto:jeroen.declerck@studentkickoff.be">jeroen.declerck@studentkickoff.be</a></p>
        </div>
        <img src="/assets/images/org/jeroendeclerck.jpg" class="img-responsive portfolio-item" alt="">
      </div>

      <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Lorin Werthen</h3>
          <p>Coordinator Access Management<br>
          Informatica<br>
          Universiteit Gent <br>
          <a href="mailto:lorin.werthen@studentkickoff.be">lorin.werthen@studentkickoff.be</a></p>
        </div>
        <img src="/assets/images/org/lorinwerthen.jpg" class="img-responsive portfolio-item" alt="">
      </div>

      <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Mats Myncke</h3>
          <p>Coordinator Hardware<br>
          Informatica<br>
          Universiteit Gent <br>
          <a href="mailto:mats.myncke@studentkickoff.be">mats.myncke@studentkickoff.be</a></p>
        </div>
        <img src="/assets/images/org/matsmyncke.png" class="img-responsive portfolio-item" alt="">
      </div>

      <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Ruben Haegeman</h3>
          <p>Coordinator Website<br>
          ????<br>
          ????<br>
          <a href="mailto:ruben.haegeman@studentkickoff.be">ruben.haegeman@studentkickoff.be</a></p>
        </div>
        <img src="http://placehold.it/300x300" class="img-responsive portfolio-item" alt="">
      </div>

  </div>
</div>
