<% section :red do %>
<h1>Meet the Teams</h1>

<div class="team-grid">
  <% crew_of(@item[:year]).each do |team| %>
  <a class="team-card" href="<%= team.path %>">
    <div class="teamname">
      <%= team[:teamnaam] %>
    </div>
    <img class="img-responsive portfolio-item" src="<%= team[:foto] %>" alt="">
  </a>
  <% end %>
</div>
<% end %>
