<% section :red do %>
<h1>Meet the Teams</h1>

<div class="team-grid">
  <% crew_of(@item[:year]).each do |team| %>
  <div class="team-card">
    <a href="<%= team.path %>">
      <p><%= team[:teamnaam] %></p>
      <img class="img-responsive portfolio-item" src="<%= team[:foto] %>" alt="">
    </a>
  </div>
  <% end %>
</div>
<% end %>
