._hidden {
  display: none !important;
  visibility: hidden !important;
}

._relative {
  position: relative;
}

._nopointer {
  pointer-events: none !important;
}

._shadow {
  box-shadow: 3px 3px black;
}

._rounded {
  border-radius: 132472341801px;
}

._center {
  display: flex;
  justify-content: center;
  align-items: center;
}
