// Variables
$rot: -4deg;
$colblue: #1b95d4;
$header-color: rgba(27, 149, 212, .9);
$colyel: #fab73e;
$colred: #e94b43;
$magic-pct: 7.9%;

$section-colors: (
  "red": $colred,
  "yellow": $colyel,
  "blue": $colblue,
);

$complements: (
  $colblue: $colyel,
  $colyel: $colred,
  $colred: $colyel
);

.section-wrap {
  margin-top: -$magic-pct;
  position: relative;
}

$section-font-color: #fff;

%section {
  color: $section-font-color;
  padding-bottom: 160px;
  position: relative;

  h1 {
    font-size: 6em;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 2em;
  }

  .text {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  %section h3 span {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  %section h3 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 768px) {
  %section {
    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 3em;

    }
  }
}

@each $color-name, $color-code in $section-colors {
  .section-#{$color-name} {
    @extend %section;
    background: $color-code;

    h1,
    h2,
    h3,
    strong {
      color: map-get($complements, $color-code);
    }

    .sneaky {
      color: $color-code;
    }
  }

  .svg-wrap {
    padding-top: $magic-pct;
    position: relative;

    .section-bar-#{$color-name} {
      fill: $color-code;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}
