.artist-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  > .artist-card {
    margin-top: 20px;

    @include mobile {
      max-width: 100%;
    }
  }
}
