@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/assets/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.modal {
  max-width: 1000px !important;
  background-color: #fab73e !important;
  h2 {
    font-size: 30px;
  }
  img {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
  }
    @include mobile {
      width: 100% !important;
      font-size: 16px;
      text-align: center;
    }
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/universl_5-webfont.woff2') format('woff2'),
       url('/assets/fonts/universl_5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  position: relative;

  body {
    font-size: 20px;
    overflow-x: hidden;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5, {
  font-family: 'LeagueGothic-Regular';
  text-transform: uppercase;
  font-weight: initial;
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

a,
a:hover {
  color: #e43026;
  text-decoration: none;
}

input, button {
  border: 3px solid white;
  background-color: rgba(255, 255, 255, .5);
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  @extend input;
  width: 100%;
  color: white;
}

blockquote {
  background-color: rgba(1, 1, 1, .03);
  border-left: 10px solid $sko_blue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
  padding: 30px;

  &:before {
    color: $sko_blue;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  > .quoteteamlead {
    text-align: right;
  }
}

ul ul,
ol ol {
  margin-left: 2em;
}

.content {
  > h1,
  > h2,
  > h3,
  > strong,
  > a {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  }
}
