@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/assets/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/universl_5-webfont.woff2') format('woff2'),
       url('/assets/fonts/universl_5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  position: relative;

  body {
    font-size: 20px;
    overflow-x: hidden;

    font-family: 'Univers';
  }
}

h1,
h2,
h3,
h4,
h5, {
  font-family: 'LeagueGothic-Regular';
  text-transform: uppercase;
  font-weight: initial;
  margin: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul ul {
  padding-left: 40px;
}

a,
a:hover {
  color: #e43026;
  text-decoration: none;
}

input, button {
  border: 3px solid white;
  background-color: rgba(255, 255, 255, .5);
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  @extend input;
  width: 100%;
  color: white;
}

blockquote {
  background-color: rgba(1, 1, 1, .03);
  border-left: 10px solid $sko_blue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
  padding: 30px;

  &:before {
    color: $sko_blue;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  > .quoteteamlead {
    text-align: right;
  }
}

ul ul,
ol ol {
  margin-left: 2em;
}
