.basic-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > .row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.-center {
      justify-content: center;

      > * {
        width: initial;
      }
    }

    @include mobile {
      flex-wrap: wrap;
    }
  }

  > .row > * {
    width: 100%;

    &:not(:last-child) {
      margin-right: 20px;

      @include mobile {
        margin-right: 0;
      }
    }
  }

  > .status-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
}
