/* ==variables== */
$photosliderheight: 250px;
$photoslidertextsize: 50px;

.bagbanbasic {
  height: auto;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;

  &:hover {
    animation-iteration-count: 1;
  }
}

@keyframes pulsate {
    0% {transform: scale(0.9, 0.9);}
    50% {transform: scale(1.0, 1.0);}
    100% {transform: scale(0.9, 0.9);}
}

@mixin headline-title($font-size) {
  font-size: $font-size;
  background: rgba(255,255,255,0.8);
  color: #e94b43;

  &.alt {
    background: none;
    color: white;
    text-shadow: 2px 2px black;
  }
}

.headline {
    padding-top: 200px;

    h1 {
      @include headline-title(80px);
    }

    h2 {
      @include headline-title(50px);
    }

    button {
      background: none;
      color: white;
      border: 1px solid white;
      border-radius: 4px;
      padding: 10px;

      &:hover {
        background-color: white;
        color: black;
      }
    }
}

.bagbantop {
  @extend .bagbanbasic;
  width: 15%;
  margin-bottom: 10px;
}

.bagban {
  @extend .bagbanbasic;
  width: 100%;
  min-width: 100px;
  max-width: 150px;
}

.videorapper {
  display: flex;
  justify-content: center;
}

.videosection {
  position: relative;

  iframe {
    position: absolute;
  }

  img {
    position: absolute;
    height: auto;
    width: inherit;
    pointer-events: none;
  }
}

@media only screen and (min-width: 769px) {
  .videosection {
  height: 50vw;
  width: 50vw;

    iframe {
      top: 32%;
      left: 7%;
      width: 71.5%;
      height: 43%;
    }
  }
}


.headerlogo {
  max-height: 250px;
}

.headline {
    .livebutton {
        transition: all 0.3s ease-out;
        background: #fff;
        box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    }
    .livebutton:hover {
        transform: scale(1.05, 1.05);
        background: #e6e6e6;
    }
  .livebuttoncontainer {
    display: flex;
    justify-content: center;

    height: 160px;

    .sko-logo {
      width: 110px;
    }

    > * {
      margin-left: 25px;
      margin-right: 25px;
    }

    .counter {
      font-family: 'LeagueGothic-Regular';

      min-width: 100px;
      text-align: left;
      color: white;

      text-transform: uppercase;
      font-size: 1.5em;

      .number {
        position: relative;
        color: $colred;

        line-height: 135px;
        font-size: 90pt;
        text-align: center;

        height: 100%;

        background-image: url("/assets/images/TELLER2.svg");
        background-size: contain;
        background-repeat: no-repeat;

        img {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

#links {
  img {
    margin-top: 4px;
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .videosection {
    height: 70vw;
    width: 90vw;

    iframe {
      top: 40%;
      left: 7%;
      width: 72%;
      height: 55%;
    }
  }

  .headline .container {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    .countercontainer {
      > * {
        margin-left: 10px;
        margin-right: 10px;
      }

      .counter {
        font-size: 1em;

        background-size: 100%;

        .number {
          line-height: 100%;
          font-size: 7em;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .counter {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 651px) {
  .bagban {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .bagbantop {
    display: none;
  }
}

@media only screen and (max-width: 651px) {
  .bagbantop {
    display: none;
  }
}

.section3 {
  hr {
    border-color: white;
  }

  a {
    color: $colyel;
  }
}

.running-order {

  .lineupartist {
    img {
      float: right;
    }
    a {
      float: left;
    }
  }
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin:0;
  padding:0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}

@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
