// Variables
$photosliderheight: 250px;
$photoslidertextsize: 50px;

%bagbanbasic {
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  height: auto;

  &:hover {
    animation-iteration-count: 1;
  }
}

@keyframes pulsate {
  0% {transform: scale(.9, .9);}
  50% {transform: scale(1, 1);}
  100% {transform: scale(.9, .9);}
}

@mixin headline-title($font-size) {
  $font-color: #fff;
  $shadow: #000;

  font-size: $font-size;
  color: $font-color;
  text-shadow: 2px 2px $shadow;
}

.bagbantop {
  @extend %bagbanbasic;

  margin-bottom: 10px;
  width: 15%;
}

.bagban {
  @extend %bagbanbasic;

  max-width: 150px;
  min-width: 100px;
  width: 100%;
}

.videorapper {
  display: flex;
  justify-content: center;
}

.videosection {
  position: relative;

  iframe {
    position: absolute;
  }

  img {
    height: auto;
    pointer-events: none;
    position: absolute;
    width: inherit;
  }
}

@media only screen and (min-width: 769px) {
  .videosection {
    height: 50vw;
    width: 50vw;

    iframe {
      height: 40%;
      left: 7%;
      top: 32%;
      width: 71.5%;
    }
  }
}

.headline {
  h1 {
    @include headline-title(150px);
  }

  h2 {
    @include headline-title(50px);
  }

  a {
    $color: #fff;
    $hover-color: #000;

    border: 1px solid $color;
    border-radius: 4px;
    color: $color;
    padding: 10px;

    &:hover {
      background-color: $color;
      color: $hover-color;
    }
  }

  .livebutton {
    background: #fff;
    box-shadow: 10px 10px 25px 0 rgba(0,0,0,0.75);
    transition: all .3s ease-out;
  }

  .livebutton:hover {
    background: #e6e6e6;
    transform: scale(1.05, 1.05);
  }

  .livebuttoncontainer {
    display: flex;
    height: 160px;
    justify-content: center;

    > * {
      margin-left: 25px;
      margin-right: 25px;
    }

    .counter {
      color: white;
      font-family: 'LeagueGothic-Regular';
      font-size: 1.5em;

      min-width: 100px;
      text-align: left;

      text-transform: uppercase;

      .number {
        background-image: url('/assets/images/TELLER2.svg');
        background-repeat: no-repeat;
        background-size: contain;

        color: $colred;
        font-size: 90pt;
        height: 100%;
        line-height: 135px;
        position: relative;
        text-align: center;

        img {
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

#links {
  img {
    margin-top: 4px;
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .videosection {
    height: 70vw;
    width: 90vw;

    iframe {
      height: 55%;
      left: 7%;
      top: 40%;
      width: 72%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .counter {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 651px) {
  .bagban {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .bagbantop {
    display: none;
  }
}

@media only screen and (max-width: 651px) {
  .bagbantop {
    display: none;
  }
}

.running-order {
  .lineupartist {
    img {
      float: right;
    }

    a {
      float: left;
    }
  }
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width) - $width / 2 + px
               random($height) - $height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}

.pyro > .before,
.pyro > .after {
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  height: 5px;
  position: absolute;
  width: 5px;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  to {
    box-shadow: $box-shadow;
  }
}

@keyframes gravity {
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-left: 40%;
    margin-top: 10%;
  }

  20%,
  39.9% {
    margin-left: 30%;
    margin-top: 40%;
  }

  40%,
  59.9% {
    margin-left: 70%;
    margin-top: 20%;
  }

  60%,
  79.9% {
    margin-left: 20%;
    margin-top: 30%;
  }

  80%,
  99.9% {
    margin-left: 80%;
    margin-top: 30%;
  }
}
