@media only screen and (min-width: 1200px) {
  figure {
    transform: rotate($rot);
    display: inline-block;
    overflow: hidden;
    height: 400px;

    margin-bottom: 100px;

    padding-left: 20px;
    padding-right: 20px;

    img {
      transform: rotate(-$rot);
      margin-top: -30px;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  figure {
    transform: rotate($rot);
    display: inline-block;
    overflow: hidden;
    height: 320px;

    padding-left: 20px;
    padding-right: 20px;

    img {
      transform: rotate(-$rot);
      margin-top: -30px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  figure {
    display: inline-block;
    height: auto;
  }
}

.teamheader {
  .headline {
    padding: 25% 0;
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
