@media only screen and (min-width: 1200px) {
  figure {
    transform: rotate($rot);
    display: inline-block;
    overflow: hidden;
    height: 400px;

    margin-bottom: 100px;

    padding-left: 20px;
    padding-right: 20px;

    img {
      transform: rotate(-$rot);
      margin-top: -30px;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  figure {
    transform: rotate($rot);
    display: inline-block;
    overflow: hidden;
    height: 320px;

    padding-left: 20px;
    padding-right: 20px;

    img {
      transform: rotate(-$rot);
      margin-top: -30px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  figure {
    display: inline-block;
    height: auto;
  }
}

.teamlidcard {
  background-color: $colblue *0.90;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;

  h3 {
    font-size: 1.5em;
  }
}


blockquote {
  background: $colyel*0.95;
  border-left: 10px solid $colblue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 30px;

  &:before {
    color: $colblue;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  .quoteteamlead {
    text-align: right;
  }
}

.teamcard {
  text-align: center;

  p {
    font-family: 'LeagueGothic-Regular';
    text-align: center;
    width: 100%;
    font-size: 2em;
  }

  a {
    color: $colyel;
  }
}

.teamheader {
  .headline {
    padding: 25% 0;
  }
}
