// Variables
$rot: -4deg;
$colblue: $sko_blue;
$colyel: $sko_yellow;
$colred: $sko_red;
$magic-pct: 7.9%;

$page-segment-colors: (
  "red": $colred,
  "yellow": $colyel,
  "blue": $colblue,
);

$text-colors: (
  "red": white,
  "yellow": #484848,
  "blue": white,
);

$complements: (
  $colblue: $colyel,
  $colyel: $colred,
  $colred: $colyel
);

$page-segment-font-color: #fff;

.page-segment {
  color: $page-segment-font-color;
  padding-top: 60px;
  padding-bottom: 160px;
  position: relative;

  h1 {
    font-size: 6em;
    margin-bottom: 30px;

    @include mobile {
      font-size: 4em;
    }
  }

  h2 {
    font-size: 4em;

    @include mobile {
      font-size: 3em;
    }
  }

  h3 {
    font-size: 2em;

    @include desktop {
      font-size: 3em;
    }
  }

  & > .topbar {
    $fix-spacing: 2px;

    width: 100%;
    height: 0;

    // MAGIC
    // PURE FUCKING MAGIC WHY
    // Internet explorer is a bitch
    padding-top: 7.93650794%;
    position: absolute;
    bottom: 100%;

    margin-bottom: -$fix-spacing;

    > svg {
      position: absolute;
      top: $fix-spacing;
      left: 0;
    }
  }
}

@each $color-name, $color-code in $page-segment-colors {
  .page-segment.-#{$color-name} {
    background-color: $color-code;
    color: map-get($text-colors, $color-name);

    & > .topbar > svg {
      fill: $color-code;
    }

    & > .content {
      h1,
      h2,
      h3,
      strong,
      a {
        color: map-get($complements, $color-code);
        text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
      }

      .sneaky {
        color: $color-code;
      }
    }
  }
}

.page-segment.-footer {
  padding-bottom: 341px;

  p {
    font-size: 120%;
  }

  @include mobile {
    padding-bottom: 200px;

    input {
      width: 100%;
    }

    .bottom-text {
      font-size: .7em;
    }

    .totop {
      bottom: 80px;
      width: 130px;
    }
  }

  // We use the before pseudo element to get opacity working
  &::before {
    content: '';
    margin-top: -60px;
    height: 100%;
    position: absolute;
    opacity: .7;
    width: 100%;
    background-image: url('/assets/images/design/peetjes.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
