@mixin partner($width, $margin) {
  width: $width - ($margin * 2);
  margin: $margin;
}

.partner-grid {
  margin: 0 auto;

  > .partner {
    @include partner(200px, 20px);
  }
}

.presenting-partner-grid {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > .presentingpartner {
    @include partner(300px, 40px);
  }
}
