.status-message {
  // TODO: Get rid of this horrifying non-rscss positioning
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  box-shadow: 8px 9px 9px 4px rgba(0, 0, 0, 0.17);

  font-size: 1.5em;
  display: inline-block;
  padding: 40px;

  text-align: center;

  width: 100%;

  border-radius: 10000000px;

  @include mobile {
    font-size: .75em;
    padding: 10px;
  }

  &::before {
    font-family: FontAwesome;
    margin-right: 20px;
    content: "";
  }

  &.-success {
    &::before {
      content: "\f00c";
    }

    background-color: #49c500;
    color: white;
  }

  &.-failure {
    &::before {
      content: "\f00d";
    }

    background-color: #ff351e;
    color: white;
  }
}
