.team-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > .team-card {
    max-width: 25%;
    margin-top: 20px;

    @include mobile {
      max-width: 100%;
    }
  }
}
