.team-card {
  text-align: center;

  p {
    font-family: 'LeagueGothic-Regular';
    text-align: center;
    width: 100%;
    font-size: 2em;

/*     @include mobile {
  font-size: 1em;
} */
  }

  a {
    color: $colyel;
  }
}
