---
title: AC
---
<header class="header" style="background-image: url(/assets/images/org/2017/lennertnoppe.jpg);">
    <div class="headline"></div>
</header>

<% section :yellow do %>
<h1>Algemeen Coördinator</h1>

<div class="row">
  <h3>Jochen Merlier</h3>
  De AC houdt overzicht op de stand van zaken binnen heel de organisatie. Hij stuurt de kerngroep aan, zit de kernvergaderingen voor en vormt in zijn functie als bestuurder ook de directe link met de raad van bestuur van de vzw. Hij is een aanspreekpunt en geeft zijn ervaring door aan de crew. In die zin is hij ook een coach voor de (nieuwe) organisatieleden.
  <br> <br>
  <p><a href="mailto:jochen.merlier@studentkickoff.be">jochen.merlier@studentkickoff.be</a></p>

</div>
<% end %>
