---
title: Bekers

<% render '/partials/header.*', image: '/assets/images/bekers/43467063_2098445980206735_7283132054219259904_o.jpg' do %>
Student Kick-Off schakelt over op herbruikbare bekers
<% end %>
bekers:
  -
<h2>
Student Kick-Off schakelt over op herbruikbare bekers
</h2>
<p>
Als organisatie van het grootste 1-dagsfestival van België gaat Student Kick-Off mee in de trend van duurzaamheid. We vinden het belangrijk om onze bezoekers een optimale beleving aan te bieden, met zorg en respect voor de omgeving van onze toekomstige bezoekers. Als festival produceren we jaarlijks een grote hoeveelheid afval, voornamelijk afkomstig van allerlei drankverpakkingen. Wij vinden het als organisatie onze taak die afvalberg zo laag mogelijk te houden, waarvan het weglaten van alle wegwerp bekers een eerste grote stap is in de richting van een duurzaam festival.
</p>
  -
<p>
Dit jaar gaat Student Kick-Off zijn ecologische voetafdruk drastisch verkleinen door over te schakelen op herbruikbare bekers. Een positieve evolutie voor ons festival die voor de bezoeker wel wat verandering met zich meebrengt.
</p>
  -
<p>
Van zodra u als bezoeker het festivalterrein betreedt, kunt u genieten van de beste muziek en zeer lekker eten, uiteraard aan een studentikoze prijs. Daarnaast kunt u genieten van een ruim aanbod aan frisse dranken. Frisdrank, bieren of liever iets sterker? We hebben het allemaal!
</p>
  -
<p>
Vanaf dit jaar zullen deze dranken aangeboden worden in herbruikbare bekers. Concreet gaat het hier om de bieren zoals Maes Pils, Mort Subite kriek, Desperados en Strongbow. Ook alle sterke dranken zullen in herbruikbare bekers verkocht worden. Frisdranken worden nog in hun originele PET-verpakkingen verkocht.
</p>
  -
<p>
Bij het aankopen van een drankje zal er 1 bon extra aangerekend worden als waarborg voor de beker en/of PET-verpakking. Van zodra je een lege beker of lege PET-verpakking hebt, kan je ook hiermee betalen aan de bar. Elke beker of PET-verpakking is even veel waard als 1 bon. Het is dus heel belangrijk dat je jouw beker/ PET-verpakking niet weggooit, want anders moet je weer een extra bon betalen bij het aankopen van een nieuw consumptie.
</p>
<% render '/partials/header.*', image: '/assets/images/bekers/BEKERS-visual_Tekengebied 1.png' do %>
  -
<p>
Wens je een nieuw drankje op het terrein te bestellen, dan kan je dus betalen met bonnen, lege bekers of met PET-verpakkingen. Niets weggooien is dus de boodschap. Dit bespaart jou 1 bon en zorgt er ook voor dat je kan genieten van toffe muziek en een heerlijke sfeer op een proper plein.
</p>
  -
<p>
Als je geen nieuwe dranken meer wenst te consumeren, kan je jouw bekers gaan omwisselen aan een recyclestand. Daar krijg je een waardebon voor een consumptie in de Cuba (Overpoort) of het Vooruit Café. Je betaalt dus bij jouw eerste consumptie €1,11 voor een beker of Pet-verpakking maar krijgt hier wel een volwaardige consumptie voor in de plaats in een van de twee deelnemende cafés. Zotte winst voor alle bezoekers dus. ;)
</p>
  -
<p>
Heb je een gouden hart en schenk je de waarborg van jouw beker of PET-verpakking liever aan het goede doel? Gooi deze dan in de zones aan elke uitgang.
</p>
  -
<b>Let op!</b>
<ul>
  <li>
    In de bar kan je jouw bekers gebruiken om dranken mee te kopen, maar je kan deze niet inwisselen voor bonnen. Je kan ze wel inruilen aan de recyclestanden op het terrein (een bar medewerker zal je met veel plezier tonen waar deze zich bevinden).
  </li>
  <li>
    Je kan ook meerdere bekers inwisselen voor 1 consumptie.
  </li>
  <ul>
    <li>
      Het aantal bekers dat je inwisselt aan de bar bij het kopen van nieuwe dranken kan de prijs van het aantal consumpties + bekers niet overschrijden.
    </li>
  </ul>
</ul>

---
<% end %>

<% section :yellow do %>
  <% item[:bekers].each_with_index %>
  <% end %>
  <% end %>
