#!/usr/bin/env ruby

preprocess do
  jaren.each do |item|
    jaar = item.identifier.without_ext.split('/').last.to_i
    item[:jaar] = jaar
  end
end

compile '/**/*.erb' do
  layout '/default.*'
  filter :erb
end

compile '/meetthecrew/*.md' do
  filter :kramdown
  layout '/teampagina.*'
  layout '/default.*'
  filter :erb

  ident = item.identifier.without_ext.split('/').last
  write "/meetthecrew/#{ident}/index.html"
end

compile '/faq.md' do
  filter :kramdown
  layout '/faq.*'
  layout '/default.*'
  filter :erb
end

compile '/partners.md' do
  filter :kramdown
  layout '/partners.*'
  layout '/default.*'
  filter :erb
end

compile '/historiek/*.md' do
  filter :kramdown
end

compile '/assets/images/gallery/*.{jpg,png}', rep: :thumbnail do
  filter :resize
  write "#{item.identifier.without_ext}_thumbnail.jpg"
end

# Empty route block prevents item from being written out
route '/historiek/*.md' do; end

route '/**/*.{erb,html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
