<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Team Site</h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-8 container-fluid">
          <img class="img-responsive center-block" src="/img/teamsite.jpg" alt="">
      </div>
      <div class="col-md-4">
          <h3>De leden en hun taken</h3>
          <p>Team SS staat in voor alles wat zich op het terrein afspeelt. Dit gaat van het plaatsen van herashekken tot het contacteren van leveranciers voor bijvoorbeeld kassa’s. Daarnaast zorgen wij er ook voor dat elke stand/bar/podium voorzien wordt van elektriciteit. Binnen team Site&Safety zijn er verschillende coördinatoren werkzaam met elk hun vakgebied.</p>
          <p>Zo hebben we de coördinator Site. Hij is de rechterhand van de teamlead. Deze persoon staat in voor het contacteren van alle leveranciers, het opmaken van de grondplannen en het aansturen van crew tijdens de op- en afbouw.<br>
          Daarnaast hebben we ook een coördinator Safety. Deze coördinator maakt alle afspraken met Stad Gent en hulpdiensten, stuurt de stewards aan op de dag zelf en zorgt voor een veilig verloop van het festival.<br>
          Onze derde coördinator is de coördinator Elektriek. Zijn job is het opmaken van een schema aan de hand waarvan hij tijdens de opbouw alle standen, bars en beide podia van elektriciteit kan voorzien.<br>
          Ten slotte hebben we ook een coördinator mobiliteit binnen SS. Zijn job is ervoor te zorgen dat alle leveranciers, artiesten en crew vlotte toegang hebben tot het festival, maar ook dat bezoekers gebruik kunnen maken van extra fietsenstallingen.</p>
          <p>De hele op- en afbouw zou uiteraard niet mogelijk zijn zonder een klein leger aan enthousiaste crew. Hiervoor kunnen we rekenen op de crew-leads. Dit zijn mensen die werken onder één van bovenstaande coördinatoren en die kleine groepjes vrijwilligers aansturen.</p>
      </div>

  </div>
  <div class="row">

      <div class="col-lg-12">
          <h3 class="page-header">Teamleden</h3>
      </div>

      <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Peter Peeters</h3>
          <p>Coordinator Willekeurige dingen<br>
          Student ditten en datten aan UGent<br>
          <a href="mailto:persoon.a@studentkickoff.be">persoon.a@studentkickoff.be</a></p>
        </div>
        <img src="http://placehold.it/500x300" class="img-responsive portfolio-item" alt="">
      </div>

      <div class="col-sm-3 col-xs-6" class="thumbnail">
        <div class="caption">
          <h3>Jan Jansens</h3>
          <p>Coordinator Resterende dingen<br>
          Student datten en ditten aan HoGent<br>
          <a href="mailto:persoon.b@studentkickoff.be">persoon.b@studentkickoff.be</a></p>
        </div>
        <img src="http://placehold.it/500x300" class="img-responsive portfolio-item" alt="">
      </div>
  </div>

</div>
