<% render '/partials/header.*', image: '/assets/images/bbq/StudentGrillOff_Snijplank.jpg' do %>
<% end %>

<% section :yellow do %>
<h1>Maak je klaar voor... </h1>

<p>
Student Kick-Off is het grootste startevenement van het academiejaar in Vlaanderen én het grootste eendagsfestival van België. Dit jaar is het alweer de veertiende editie die doorgaat op 25 september 2019 op het Sint-Pietersplein in Gent.
</p>
<p>
Student Kick-Off is het ideale moment om elkaar na een lange periode terug te zien. Je maakt er nieuwe vrienden en kan het academiejaar goed inzetten! Deze editie keren we terug naar het begin van Student Kick-Off, met een grote barbecue voor alle studenten.
</p>
<% end %>
<% section :red do %>
<h1>Student Grill-Off, it is!</h1>
<p>
Student Grill-Off is een unieke BBQ op het plein van Student Kick-Off. Hierbij kan je kiezen uit 2 heerlijke formules:
</p>
<p>
<ul>
  <li>
  De klassieke formule met 3 stukken vlees (1 x fillet caré, 1 x Mexicaanse worst en 1 x stuk kip).
  </li>
  <li>
  De vegetarische formule met 3 groentenburgers: de mexican red burger (op basis van rode pesto), de fresh green burger (op basis van groene pesto) en de classic vegetable burger.
  </li>
</ul>
</p>
<p>
 Daarnaast kan je genieten van de uitgebreide saladebar à volonté. Dit alles voor maar €15,00.
</p>
<p>
   Let op! Er zijn twee shifts:
</p>
<p>
<ul>
  <li>
  In de eerste shift ben je welkom vanaf 18.30u tot 20.00u en kan je aanschuiven tot 19.30u.
  </li>
  <li>
  In de tweede shift verwelkomen we jou vanaf 20.00u tot 21.30u en kan je aanschuiven tot 21.00u.
  </li>
</ul>
</p>
<p>
Let er goed op bij jouw bestelling dat je de juiste shift invult. Om plaats voor iedereen te kunnen garanderen zal je niet van shift kunnen wisselen. Student Grill-Off sluit om 22.00u, daarna kan je nog volop van het festival genieten.
</p>
<% end %>
<% section :yellow do %>
<h1>Hoe kan je bestellen?</h1>
Dat doe je via <a href="https://events.studentkickoff.be/events/3">deze link</a>. Je kan één of meerdere tickets aankopen en deze moet je direct betalen. Zo ben je zeker van je plaats.
De tickets zijn beperkt, dus haast je! Bestellen voor de barbecue kan tot 20 september 23.59u.
Opgepast je inschrijving is pas bevestigd na ontvangst van de betaling.
<% end %>
<% if false %> <!-- Wedstrijd on/off-->
<% section :yellow do %>
<h1>Wedstrijd</h1>
<p>
De vereniging die het meeste tickets kan verkopen,wint een XL-stand in onze Student Village. Dit is een ideale kans om je club of vereniging in de aandacht te brengen. Hoe kan je je club of vereniging inschrijven? Je bestelt (en betaalt) je tickets op de site. Daarna stuurt je vereniging een mail naar <a href="mailto:maxime.pans@studentkickoff.be?subject=StudentGrill-Off">maxime.pans@studentkickoff.be</a>.Hierin vermeldt de vereniging of club de personen die voor hen kochten. Wij sturen de winnende vereniging een mail. Deze wedstrijd loopt af op zondag 15 september 23.59u, wees er dus snel bij!
</p>
<p>
Heb je nog vragen, mail dan onze Coördinator Food, Maxime. Registreren kan nog tot 20 september 23.55h!
</p>
<p>
Opgepast je inschrijving is pas bevestigd na ontvangst van de betaling.
</p>
<p>
Smakelijk!
</p>
<p>
Team Student Kick-Off
</p>
<% end %>
<% end %>
