---
title: Bekers
---
<% render '/partials/header.*', image: '/assets/images/bekers/43467063_2098445980206735_7283132054219259904_o.jpg' do %>
Student Kick-Off schakelt over op herbruikbare bekers
<% end %>

<% section :yellow do %>
<div class="bekers">
  <h2>
  Student Kick-Off schakelt over op herbruikbare bekers
  </h2>
  <div class="faq-panel">
    <h3>
  Het concept?
    </h3>
    <p>
      Als organisatie van het grootste 1-dagsfestival van België gaat
  Student Kick-Off mee in de trend van duurzaamheid. Als festival
  produceren we jaarlijks een grote hoeveelheid afval, voornamelijk
  afkomstig van allerlei drankverpakkingen. Wij vinden het als
  organisatie onze taak die afvalberg zo laag mogelijk te houden, het
  weglaten van alle wegwerpbekers is een grote stap richting een
  volledig duurzaam festival.
    </p>
  </div>

  <div class="faq-panel working">
    <h3>
      Hoe werkt het?
    </h3>
    <div>
        <img class="bekerImage" src="/assets/images/bekers/BEKERS-visual_Tekengebied 1.png" alt="">
        <div>
          <p>
            Vanaf dit jaar zullen dranken aangeboden worden in herbruikbare
            bekers. Concreet gaat het hier om de bieren zoals Maes Pils, Mort
            Subite kriek, Desperados en Strongbow. Ook alle sterke dranken
            zullen in herbruikbare bekers verkocht worden. Frisdranken worden
            nog in hun originele PET-verpakkingen verkocht.
          </p>
          <p>
            Bij het aankopen van een drankje zal er 1 bon extra aangerekend
            worden als waarborg voor de beker en/of PET-verpakking. Van
            zodra je een lege beker of lege PET-verpakking hebt, kan je ook
            hiermee betalen aan de bar. Elke beker of PET-verpakking is evenveel
            waard als 1 bon. Het is dus heel belangrijk dat je jouw beker/
            PET-verpakking niet weggooit, want anders moet je weer een extra
            bon betalen bij het aankopen van een nieuw consumptie.
          </p>
        </div>
    </div>
  </div>

  <div class="faq-panel">
    <h3>
      Beker niet meer nodig?
    </h3>
    <p>
      Als je geen nieuwe dranken koopt, kan je jouw bekers gaan omwisselen
  aan een recyclestand. Daar krijg je een waardebon voor een
  consumptie in de Cuba (Overpoort) of het Vooruit Café.
    </p>
    <p>
      Schenk je de waarborg van jouw beker of PET-verpakking liever
  aan het goede doel? Gooi deze dan in de zones aan elke uitgang.
  Zo gaat 1 euro integraal naar het goede doel.
    </p>
    <p>
      <b>Let op!</b>
    </p>
    <p>In de bar kunnen de bekers niet ingewisseld worden voor bonnen.
  Je kan ze wel inruilen aan de recyclestanden op het terrein (een bar
  medewerker zal je met veel plezier tonen waar deze zich bevinden).
    </p>
  </div>
  <div class="faq-panel">
    <img src="/assets/images/bekers/grondplan.png" alt="">
  </div>
</div>

<% end %>
