---
questions:
  -
    q: Wat gebeurt er met verloren voorwerpen
    a: Gevonden voorwerpen worden door de organisatie verzameld en bijgehouden. Na afloop van het festival kan de rechtmatige eigenaar een mailtje sturen naar info@studentkickoff.be.
  -
    q: Kan ik meewerken aan de organisatie van de de Student Kick-Off
    a: Tijdens de wintermaanden wordt de organisatie van de volgende editie samengesteld. Hou je ogen gericht op deze site en de officiele facebookpagina voor de aankondiging. Ben je te laat maar wil je toch je steentje bijdragen? Tijdens de zomermaanden zijn we volop bezig met de zoektocht naar voldoende vrijwilligers om het festival achter de schermen draaiend te houden. Inschrijven als vrijwilliger kan <hier>.
  -
    q: Wat is de minimumleeftijd van het festival
    a: Er staat geen leeftijdslimiet op de Student Kick-Off. Jong tot oud is welkom, maar de focus ligt natuurlijk op het studentenpubliek.
  -
    q: Wat mag ik absoluut niet meenemen
    a: Rugzakken groter dan een A4 - formaat, wapens, glas, grote stokken (vlaggenmasten) of andere gevaarlijke voorwerpen zijn niet toegelaten op het terrein.
  -
    q: Hoe geraak ik tot op het festivalterrein
    a: De ingang van het het festivalterrein bevindt zich op de Graaf Arnulfstraat, recht tegenover de ingang van het Blandijngebouw (de trabla).
  -
    q: Ticketverkoop
    a: Inkom kost slechts een (1) volledige euro. Er is geen ticketverkoop voorzien. Aan de ingang kan je je euro inwisselen voor een polsbandje. De inkomsten hiervan gaan integraal naar een van de gekozen goede doelen van die editie.
  -
    q: Waar kan ik de organisatie contacteren
    a: <link naar ‘contacteer ons’ pagina>
  -
    q: Hoe laat gaat het festivalterrein open
    a: Deuren gaan open om 12u.
  -
    q: Is er eten en drinken voorzien op het terrein
    a: Er staan 9 bars verspreid over het terrein, dus aan drank geen gebrek. Voor de hongerigen zijn er een aantal food-trucks voorzien tegen de achterkant van het terrein.
  -
    q: Hoeveel kost een pint
    a: 2 euro.
  -
    q: Kan ik het festivalterrein verlaten en later terugkeren
    a: Ja, met je bandje dat je gekregen hebt aan de ingang, kan je ook terug binnenkomen. Houdt er wel rekening mee dat de in- en uitgang van het terrein zich op tegenovergestelde hoeken bevinden.
  -
    q: Waar kan ik medische hulp vinden op het terrein
    a: De EHBO post bevindt zich aan de kant van de Sint-Pieters-Kerk, tussen de WCs en Bar 6
  -
    q: Kan ik geld afhalen op het terrein
    a: KBC voorziet een bankwagen met bankautomaten aan de trappen van het Sint-Amandsplein, tussen het hoofdterrein en de second stage.
  -
    q: Wordt er parking voorzien
    a: Er wordt aangeraden zoveel mogelijk met de fiets/te voet te komen. Als je toch de drukte wilt wagen, kan je je aan de <gentse parkeergarages> in de buurt of in de omliggende straten parkeren. De parkeergarage van het Sint-Pietersplein is onbereikbaar.

---
<div class="section1">
  <div class="container ">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ</h1>
            </div>
        </div>

      <div class="panel-group" id="faqAccordion">

          <% item[:questions].each_with_index do |lid, index| %>
              <div class="panel ">
                  <div class="accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question<%= index %>">
                       <h3>Q: <%= lid[:q] %>?</h3>
                  </div>
                  <div class="panel-collapse collapse" id="question<%= index %>">
                      <div class="panel-body">
                          <%= lid[:a] %>
                      </div>
                  </div>
              </div>
          <% end %>

      </div>
  </div>
</div>
