<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <div class="counter">
                Days
                <div class="number">
                    01
                </div>
            </div>
            <div class="counter">
                Hours
                <div class="number">
                    23
                </div>
            </div>

            <img src="/assets/images/logo_sko.svg">

            <div class="counter">
                Minutes
                <div class="number">
                    40
                </div>
            </div>
            <div class="counter">
                Seconds
                <div class="number">
                    45
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<!-- Page Content -->
<div class="section1">
    <div class="container">
        <!-- 16:9 aspect ratio -->
        <div class="col-md-12 videosection">
            <img src="/assets/images/design/TV.png"></i>
            <iframe src="https://player.vimeo.com/video/140273059"></iframe>
         </div>
    </div>
</div>


<div class="photoslider">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <p>FOTOS<p>
</div>


<div class="section2">
    <div class="container">
        <div class="row">
        <!-- 16:9 aspect ratio -->
            <div class="col-md-10 col-md-offset-1">
                <h3 class="text-center">Bekijk de fotos van voorbije edities</h3>
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
                <div id="links">
                    <% galleryimage.each_with_index do |img, index| %>
                        <% title = (index+1).to_s + "/" + galleryimage.length.to_s %>
                        <a href="<%= img.path %>" title="<%= title %>" data-gallery>
                            <% if index < 20  %>
                                <img src="<%= img.path(rep: :thumbnail) %>" alt="<%= title %>">
                            <% end %>
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
