---
title: Home
---
<!-- Fireworks

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

-->


=======
<% render '/partials/header.*', image: '/assets/images/design/header5.jpg' do %>
  <img src="/assets/images/logo_sko.svg" width="150">
  <h2>27 september 2017</h2>
  <h1>See you then!</h1>
<% end %>
>>>>>>> progress!

<% section :red do %>
<h1>Bekijk de aftermovie</h1>
<div class="videorapper">
  <div id='video' class="videosection">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStudentKickOff%2Fvideos%2F1263575390360469%2F&show_text=0" allowFullscreen="true" ></iframe>
    <img id='tv' src="/assets/images/design/TV.png">
  </div>
</div>
<% end %>

<!-- Page Content -->
<% section :yellow do %>
<h1>STUDENT KICK-OFF</h1>
<div class="subsection-columns">
  <h2>ABOUT</h2>
  <div class="text">
    <p>Student Kick-Off is hét grootste studentenwelkomsfestival in Vlaanderen. Wat in 2006 begon met 7 studenten en 9000 toeschouwers op het Kramersplein is uitgegroeid tot een vaste waarde onder de Gentse muziekevenementen. Een evenement dat jaarlijks over de 30.000 toeschouwers naar het Sint-Pietersplein lokt.</p>

    <p>SKO pakte al uit met grote namen zoals Gorki, Absynthe Minded, Nicole &amp; Hugo, Eddy Wally, Regi, Intergalactic Lovers en Samson &amp; Gert!</p>
  </div>
  <h2>Lorem Ipsum</h2>
  <div class="text">
    dolor sit amet, consectetur adipisicing elit. Nam fuga soluta minus, expedita aliquid officiis sed accusamus architecto sint, unde accusantium repellendus ex incidunt eveniet, vero! Voluptas harum quos, earum distinctio! Nihil impedit culpa corporis nobis, quas consequatur tempore nisi vero, debitis tempora commodi dolorum! Iusto amet provident est et saepe illo ad nemo, eaque error similique libero suscipit tenetur, id nulla velit nesciunt voluptatibus numquam officiis doloribus perspiciatis! Totam magnam explicabo quas, nam voluptatum sed numquam voluptate voluptatibus architecto.
  </div>
</div>
<% end %>

<% section :red do %>
<h1>#throwback</h1>
<!-- 16:9 aspect ratio -->
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<div id="links">
  <% galleryimage.each_with_index do |img, index| %>
  <% title = "#{index+1}/#{galleryimage.length}" %>
  <a href="<%= img.path %>" title="<%= title %>" data-gallery>
    <% if index < 36  %>
    <img src="<%= img.path(rep: :thumbnail) %>" alt="<%= title %>">
    <% end %>
  </a>
  <% end %>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<% end %>
