<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <div class="counter">
                Days
                <div class="number">
                </div>
            </div>
            <div class="counter">
                Hours
                <div class="number">
                </div>
            </div>

            <img src="/assets/images/logo_sko.svg">

            <div class="counter">
                Minutes
                <div class="number">
                </div>
            </div>
            <div class="counter">
                Seconds
                <div class="number">
                </div>
            </div>
        </div>
    </div>
</header>
<br>

<!-- Page Content -->
<div class="section1">
    <div class="container">
        <h1>STUDENT KICK-OFF</h1>
        <div class="col-md-2">
            <h2>ABOUT</h2>
        </div>
        <div class="col-md-10 text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quia libero, sunt, architecto error, praesentium tenetur, fuga necessitatibus consequuntur cupiditate eveniet eum quod. Expedita natus quae magnam iure officia beatae reiciendis blanditiis, exercitationem animi. Architecto ab eum quas ad accusantium accusamus at rem eaque tempore inventore sint dignissimos in necessitatibus cum maxime omnis, quam ut? Beatae nam necessitatibus molestiae quas fugiat magnam itaque, porro labore minus iusto mollitia. Pariatur nam, dolore? Amet eius eos sapiente, impedit necessitatibus fuga, doloremque natus sequi ipsum odit officiis facere blanditiis unde! Ducimus et eaque quibusdam recusandae, eligendi, dolorum mollitia voluptatum nobis suscipit officia quod nihil laboriosam a possimus quidem repudiandae quasi perspiciatis eum tempore ipsam commodi odio amet earum! Velit aspernatur necessitatibus tenetur quidem! Incidunt necessitatibus doloribus eaque nisi expedita quasi voluptatum neque nesciunt perferendis, ut. Totam fuga cumque a illum voluptatibus nam ut sit reprehenderit iste quas animi asperiores beatae accusamus deleniti sequi, unde vero quod voluptate odio in labore? Voluptatibus nostrum labore suscipit unde ex voluptates accusantium, reprehenderit hic architecto ad facere alias, ullam illum facilis modi cupiditate magni impedit. Consequatur iste odit incidunt, doloribus placeat, nesciunt architecto vero officia laudantium quibusdam tenetur magnam culpa excepturi facilis, deleniti eius et. Nulla, illum nam soluta error suscipit consequuntur magni, sapiente rem natus, rerum repellendus odio distinctio fugit impedit sint, tenetur? Sint accusantium incidunt asperiores velit atque itaque porro, recusandae aperiam voluptatum vel nihil soluta eaque, eum repellat. Labore est, tempore, aut, esse mollitia sunt sapiente facere eligendi atque quaerat temporibus aperiam deleniti magni in excepturi. Eum ex, quos repellat vitae ducimus culpa sit dicta maiores, accusamus, eaque obcaecati debitis distinctio provident quasi tenetur hic asperiores quas! Reiciendis iusto, provident amet accusamus. Praesentium adipisci accusamus reiciendis necessitatibus, tenetur in, voluptatum harum ipsum. Voluptatibus vitae quidem temporibus, cum a suscipit repellendus cumque perspiciatis nostrum, quisquam neque, accusantium eligendi. Tenetur reprehenderit earum obcaecati veritatis aperiam dolore saepe, optio, beatae quidem asperiores veniam odio ducimus dignissimos explicabo nesciunt perferendis, consectetur voluptas soluta sunt officiis ipsa sint enim. Atque a ad quasi vel natus consequuntur fugit veritatis cum amet nobis temporibus sunt, est assumenda dolore corporis nisi saepe nesciunt! Quia consequuntur id vero soluta nostrum laboriosam aliquid perferendis delectus, laudantium, tenetur repellendus necessitatibus repellat odio, ut qui! Maiores ab, deserunt sit laborum voluptate harum praesentium eaque tempore doloremque dolores corporis officiis molestias ut maxime, iure numquam libero temporibus. Veniam tempora cumque illum cum quod aut quisquam tenetur maxime praesentium quas. Molestias porro illo quidem, voluptate! Fugit numquam dolorem error, placeat atque commodi, quaerat adipisci enim ea repellat sed, quidem nulla. Error quo veritatis, consectetur molestias labore illo quasi aut iste voluptatum fugiat. Enim, aut. Voluptas ipsa sed repellat praesentium natus earum, illo iusto modi laboriosam, amet quam cum adipisci quidem nihil? Quam dignissimos velit, voluptas debitis dolorum. Quaerat soluta ex, accusantium quisquam cumque ullam autem quia, impedit nisi reprehenderit nostrum itaque quas neque laudantium officiis alias illo ducimus, quod porro magnam rerum fugit tenetur. Explicabo id aspernatur obcaecati molestias nam, sapiente quam perspiciatis ipsam dicta voluptatum! Sunt, fugit.
        </div>
    </div>
</div>

<div class="section2">
    <div class="container videorapper">
        <!-- 16:9 aspect ratio -->
        <div class="col-md-12 videosection">
            <iframe src="https://player.vimeo.com/video/140273059"></iframe>
            <img src="/assets/images/design/TV.png"></i>
         </div>
    </div>
</div>


<div class="section3">
    <div class="container">
        <h1>ZEG ME WIE &amp; WANNEER?</h1>
        <div class="col-md-2">
        </div>
        <div class="col-md-10 text">
            <h2>MAIN STAGE</h2>
            <table class="table running-order">
                <tbody>
                    <tr>
                        <td>
                            13:00
                        </td>
                        <td>
                            Urbanus en de Fanfaar
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14:20
                        </td>
                        <td>
                            Suspenders' Gravity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15:20
                        </td>
                        <td>
                            Momma Said So
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16:20
                        </td>
                        <td>
                            Gestapo Knallmuzik
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17:45
                        </td>
                        <td>
                            Wallace Vanborn
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19u20
                        </td>
                        <td>
                            Cleymans &amp; Van Geel
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21u35
                        </td>
                        <td>
                            Scala &amp; The Kolacny Brothers
                        </td>
                    </tr>
                    <tr>
                        <td>
                            23u00
                        </td>
                        <td>
                            Soul Shakers ft. MC Mota
                        </td>
                    </tr>
                    <tr>
                        <td>
                            00u25
                        </td>
                        <td>
                            Skyve Soundsystem
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>RED BULL PRESENTS DECADANCE</h2>
            <table class="table running-order">
                <tbody>
                    <tr>
                        <td>
                            00:00
                        </td>
                        <td>
                            Foo Bar
                        </td>
                    </tr>
                    <tr>
                        <td>
                            00:00
                        </td>
                        <td>
                            Foo Bar
                        </td>
                    </tr>
                    <tr>
                        <td>
                            00:00
                        </td>
                        <td>
                            Foo Bar
                        </td>
                    </tr>
                    <tr>
                        <td>
                            00:00
                        </td>
                        <td>
                            Foo Bar
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <div class="photoslider">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <p>FOTOS<p>
</div> -->

<div class="section2">
    <div class="container">
                <h1>Bekijk de fotos van voorbije edities</h1>
        <div class="row">
        <!-- 16:9 aspect ratio -->
            <div class="col-md-10 col-md-offset-1">
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
                <div id="links">
                    <% galleryimage.each_with_index do |img, index| %>
                        <% title = (index+1).to_s + "/" + galleryimage.length.to_s %>
                        <a href="<%= img.path %>" title="<%= title %>" data-gallery>
                            <% if index < 40  %>
                                <img src="<%= img.path(rep: :thumbnail) %>" alt="<%= title %>">
                            <% end %>
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/javascripts/counter.js"></script>
