---
title: Info
questions:
  -
    q: Wat gebeurt er met verloren voorwerpen
    a: Gevonden voorwerpen worden door de organisatie verzameld en bijgehouden. Na afloop van het festival kan de rechtmatige eigenaar een mailtje sturen naar info@studentkickoff.be.
  -
    q: Kan ik meewerken aan de organisatie van de de Student Kick-Off
    a: Tijdens de wintermaanden wordt de organisatie van de volgende editie samengesteld. Hou je ogen gericht op deze site en de officiele facebookpagina voor de aankondiging. Ben je te laat maar wil je toch je steentje bijdragen? Tijdens de zomermaanden zijn we volop bezig met de zoektocht naar voldoende vrijwilligers om het festival achter de schermen draaiend te houden. Inschrijven als vrijwilliger kan op <a href="http://www.studentkickoff.be/meewerken">studentkickoff.be/meewerken</a>.
  -
    q: Wat is de minimumleeftijd van het festival
    a: Er staat geen leeftijdslimiet op de Student Kick-Off. Jong tot oud is welkom, maar de focus ligt natuurlijk op het studentenpubliek.
  -
    q: Wat mag ik absoluut niet meenemen
    a: Rugzakken groter dan een A4 - formaat, wapens, glas, grote stokken (vlaggenmasten) of andere gevaarlijke voorwerpen zijn niet toegelaten op het terrein.
  -
    q: Hoe geraak ik tot op het festivalterrein
    a: De ingang van het het festivalterrein bevindt zich op de Graaf Arnulfstraat, recht tegenover de ingang van het Blandijngebouw (de trabla).
  -
    q: Ticketverkoop
    a: Inkom kost slechts een (1) volledige euro. Er is geen ticketverkoop voorzien. Aan de ingang kan je je euro inwisselen voor een polsbandje. De inkomsten hiervan gaan integraal naar een van de gekozen goede doelen van die editie.
  -
    q: Waar kan ik de organisatie contacteren
    a: Onderaan de pagina kan u een contactformulier vinden. U kan ons ook rechtstreeks mailen via info@studentkickoff.be
  -
    q: Hoe laat gaat het festivalterrein open
    a: Deuren gaan open om 12u.
  -
    q: Is er eten en drinken voorzien op het terrein
    a: Er staan 9 bars verspreid over het terrein, dus aan drank geen gebrek. Voor de hongerigen zijn er een aantal food-trucks voorzien tegen de achterkant van het terrein.
  -
    q: Kan ik het festivalterrein verlaten en later terugkeren
    a: Ja, met je bandje dat je gekregen hebt aan de ingang, kan je ook terug binnenkomen. Houdt er wel rekening mee dat de in- en uitgang van het terrein zich op tegenovergestelde hoeken bevinden.
  -
    q: Waar kan ik medische hulp vinden op het terrein
    a: De EHBO post bevindt zich aan de kant van de Sint-Pieters-Kerk, tussen de WCs en Bar 6
  -
    q: Kan ik geld afhalen op het terrein
    a: KBC voorziet een bankwagen met bankautomaten aan de trappen van het Sint-Amandsplein, tussen het hoofdterrein en de second stage.
  -
    q: Wordt er parking voorzien
    a: Er wordt aangeraden zoveel mogelijk met de fiets/te voet te komen. Als je toch de drukte wilt wagen, kan je je aan de gentse parkeergarages in de buurt of in de omliggende straten parkeren. De parkeergarage van het Sint-Pietersplein is onbereikbaar.

---

<% render '/partials/header.*', image: '/assets/images/design/header2.png' do %>
Informatie
<% end %>

<div class="section1">
  <div class="container">
    <div class="row">
      <h1>Hoe en waar?</h1>
      <p>De Student Kick-Off vindt plaats op het <strong>Sint-Pietersplein</strong> te Gent, op de eerste woensdag van het academiejaar vanaf <strong>12u 's middags</strong>. Ook het <strong>Sint-Amandplein</strong> wordt in de feestzone geïntegreerd. Student Kick-Off is gemakkelijk bereikbaar met de fiets, te voet of met het openbaar vervoer. De ingang tot het festival bevindt zich in het midden van de Blandijnberg (doorheen <strong>Graaf Arnulfstraat</strong>). De Blandijnberg kan bereikt worden via de Sint-Amandstraat of de Sint-Pietersnieuwstraat. Er zijn twee uitgangen, één naar de Sint-Pietersnieuwstraat en één ter hoogte van de Overpoortstraat / Kunstlaan.</p>

      <h3>Met de fiets?</h3>

      <p>Student Kick-Off zorgt voor fietsstallingen dicht bij het plein. Deze bevinden zich in de Kunstlaan (middenberm) en in de Sint-Amandstraat. Uw fiets behoorlijk wegzetten is heel belangrijk.Gebruik daarom de ter beschikking gestelde stallingen. <strong>Fietsen die tegen de omheiningen en dergelijke geplaatst worden zullen spijtig genoeg verwijderd worden.</strong></p>

      <h3>Rolstoelgebruiker?</h3>

      <p>Het Sint-Pietersplein is volledig vlak, wat betekent dat het plein en de bestrating volledig toegankelijk zijn voor rolstoelgebruikers. Er is ook rolstoeltoegankelijk sanitair voorzien. <strong>Rolstoelgebruikers kunnen het terrein betreden via de uitgang langs de Sint-Pietersnieuwstraat</strong>. Het veiligheidspersoneel is hiervan op de hoogte en zal de rolstoelgebruikers (met hun begeleiders) via deze uitgang toelating tot het festival verschaffen. Het Sint-Amandplein, waar het tweede podium staat, is wel enkel per trap te bereiken.</p>

    </div>
  </div>
</div>

<div class="section2">
  <div class="container">
    <div class="row">
      <h1>Inkom: 1 Euro! WAT?!</h1>

      <p>Sinds een aantal jaar wordt er 1 inkom gevraagd. Deze euro gaat integraal naar Student for Students, een initiatief van Student Kick-Off vzw dat ervoor zorgt dat ook kinderen in derdewereldlanden kans op onderwijs krijgen. Verschillende organisaties die zich inzetten voor het goede doel, kunnen meewerken. Zo kan de opbrengst verdeeld worden over verschillende projecten, van verschillende verenigingen. In ruil voor die ene euro, krijg je van ons een hip polsbandje. Je kan dit gewoon aan de hoofdingang doen, of in voorverkoop tijdens onze Campus Tour waar er nog tal van extra's bij voorzien zijn!</p>

      <p><strong>Je bent actief in een vereniging die zich inzet voor het goede doel, en wil kans maken op een deel euro's? Kom dan met een deel medewerkers een handje toesteken aan onze bars! Voor meer info, contacteer Team HR: hr@studentkickoff.be</strong> </p>

      <p>Benieuwd wat we met jullie euro reeds gerealiseerd hebben? Neem dan een kijkje op de webpagina van Students for Students!</p>
    </div>
  </div>
</div>

<div class="section3">
  <div class="container">
    <div class="row">
      <h1>Honger en dorst?</h1>

      <p>Geen enkele student hoeft om te komen van de honger of dorst, want Student Kick-Off biedt tal van drank- en eetgelegenheden aan. Zo eet en drink je ook dit jaar opnieuw aan studentikoze prijzen. Er zijn drank- en eetbonnen te koop aan verschillende kassa's op het festivalterrein. Je kan ook drankbonnen perfect met Bancontact betalen. (Opgelet: Deze kunnen niet terugbetaald worden!).</p>

      <h3>Happy hour!</h3>

      <p>Ook dit jaar organiseren we een happy hour, en dit tussen 16 en 17u! Koop één pintje aan één van onze talrijke bars, en krijg er één gratis bovenop! Zo kun je genieten van een goedkope apéro, vergezeld door de muzikale klanken van Gestapo Knallmuzik, die dan op Mainstage het beste van zichzelf aan het geven is.</p>

      Opgelet: Happy hour geldt alleen voor bier!

      <h3>Aandacht!</h3>

      <p>Er mag onder geen beding eigen drank meegebracht worden op het festivalterrein.</p>

    </div>
  </div>
</div>

<div class="section1">
  <div class="container ">
    <div class="row">
      <h1>FAQ</h1>
      <div class="panel-group" id="faqAccordion">
        <% item[:questions].each_with_index do |lid, index| %>
          <div class="panel">
            <div class="accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question<%= index %>">
              <h3>Q: <%= lid[:q] %>?</h3>
            </div>
            <div class="panel-collapse collapse" id="question<%= index %>">
              <div class="panel-body">
                <%= lid[:a] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
