<header class="header-image" style="background-image:url(/assets/images/design/header2.png);">
  <div class="headline"></div>
</header>

<div class="section1">
  <div class="container">
    <div class="row">
      <h1>Privacyverklaring</h1>
      <p>Student Kick-Off vzw, de beheerder van de desbetreffende website, hecht belang aan uw privacy en verbindt zich ertoe om naar best vermogen de bescherming van de persoonsgegevens te waarborgen via technische veiligheidsvoorschriften en een adequaat veiligheidsbeleid naar haar medewerkers toe. Hoewel de meeste informatie op deze site beschikbaar is zonder dat er persoonlijke gegevens moeten worden verstrekt, is het mogelijk dat de gebruiker om persoonlijke informatie gevraagd wordt. De informatie opgevraagd in de formulieren zal gebruikt worden in het kader van de recrutering van vrijwilligers voor het festival georganiseerd door Student Kick-Off vzw en in het kader van de online wedstrijden die door Student Kick Off georganiseerd worden. Enkel Indien de gebruiker hiermee toestemt zal de verkregen informatie meegedeeld kunnen worden aan de partners van Student Kick-Off vzw voor marketingdoeleinden.</p>

      <p>De gebruiker beschikt over een wettelijk recht op inzage en eventuele correctie van zijn persoonsgegevens. Dit recht kan uitgeoefend worden door het 'contactformulier' in te vullen met als onderwerp 'Web' onderaan de volgende pagina: http://www.studentkickoff.be.</p>
    </div>
  </div>
</div>


