<header class="header-image">
    <div class="headline"></div>
</header>
<div class="section1">
  <div class="container">
    <h1>Meet The Crew</h1>

    <div class="row">
      <div class="col-md-8">
        <figure>
          <img class="img-responsive" src="/assets/images/organisatie.jpg" alt="">
        </figure>
      </div>
      <div class="col-md-4">
        <h3>De organisatie</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <p>De kern bestaat uit:</p>
        <ul>
          <li>1 <a href="/meetthecrew/algemeencoordinator">Algemeen Coordinator</a></li>
          <li>1 <a href="/meetthecrew/juridische">Juridische verantwoordelijke</a></li>
          <li>7 Team Leads</li>
        </ul>

        <p>Ieder team bestaat uit:</p>
        <ul>
          <li>1 Team Lead</li>
          <li>Coordinatoren</li>
          <li>Crew Leads</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="section2">
  <div class="container">
    <div class="row">

      <h1>Meet the Teams</h1>

      <% teams.each do |team| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="teamcard">
          <p><%= team[:teamnaam] %></p>
          <a href="<%= team.path %>">
            <img class="img-responsive portfolio-item" src="<%= team[:foto] %>" alt="">
          </a>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>