<header class="header-image" style="background-image:url(/assets/images/design/header2.png);">
  <div class="headline"></div>
</header>

<div class="section1">
  <div class="container">
    <div class="row">
      <h1>Under construction!</h1>
      De site wordt geüpdatet, het meewerkenformulier zal in een weer uurtje beschikbaarzijn.

    </div>
  </div>
</div>
