<% render '/partials/header.*', image: '/assets/images/design/header2.png' do %>
Join The Crew
<% end %>


<div class="section1">
  <div class="container">
    <div class="row">
    	<iframe src="http://old.studentkickoff.be/meewerken" width="100%" height="2000" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
