
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Presenting Partners</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <% 4.times do %>
            <div class="col-md-3 portfolio-item">
                <a href="http://www.google.be">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        <% end %>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Partners</h1>
        </div>
    </div>

    <!-- Projects Row -->

    <div class="row">
        <% 18.times do %>
            <div class="col-md-2 portfolio-item">
                <a href="http://www.google.be">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        <% end %>
    </div>
    <!-- /.row -->
</div>
