---
presentingpartners:
  -
    img: destandaard.jpg
    url: standaard.be
  -
    img: kbc.jpg
    url: kbc.be

partners:
  -
    img: wep.jpg
    url: google.com
  -
    img: desperados.jpg
    url: google.be
  -
    img: marmalade.jpg
    url: google.be
  -
    img: gigant.jpg
    url: google.be
  -
    img: thescreamshop.jpg
    url: google.be
  -
    img: stadgent.jpg
    url: google.be
  -
    img: mentos.jpg
    url: google.be
  -
    img: medialed.jpg
    url: google.be
  -
    img: kuleuven.jpg
    url: google.be
  -
    img: artevelde.jpg
    url: google.be
  -
    img: accent.jpg
    url: google.be
  -
    img: studiobrussel.jpg
    url: google.be
  -
    img: stadium.jpg
    url: google.be
  -
    img: skikot.jpg
    url: google.be
  -
    img: redbull.jpg
    url: google.be
  -
    img: studentingent.jpg
    url: google.be
  -
    img: peterman.jpg
    url: google.be
  -
    img: odisee.jpg
    url: google.be
  -
    img: bevers.jpg
    url: google.be
  -
    img: gsr.jpg
    url: google.be
  -
    img: ef.jpg
    url: google.be
  -
    img: cocacola.jpg
    url: google.be
  -
    img: deezer.jpg
    url: google.be
  -
    img: bondmoyson.jpg
    url: google.be
  -
    img: captainmorgan.jpg
    url: google.be
---

<header class="header-image">
  <div class="headline"></div>
</header>


<!-- Page Content -->
<div class="section1">
  <div class="container">

    <h1>Presenting Partners</h1>
    <div class="row">
      <% item[:presentingpartners].each do |partner| %>
        <div class="col-md-3 col-sm-6 portfolio-item presentingpartner">
          <a href="http://www.<%= partner[:url] %>">
            <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="section2">
  <div class="container">

    <h1>Partners</h1>
    <div class="row">
      <% item[:partners].each do |partner| %>
        <div class="col-md-2 col-sm-4 col-xs-6 portfolio-item partner">
          <a href="http://www.<%= partner[:url] %>">
            <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
