---
title: Partners
presentingpartners:
  -
    img: accent.png
    url: https://www.accentjobs.be/
  -
    img: destandaard.png
    url: http://www.standaard.be/
  -
    img: kbc.png
    url: https://www.kbc.be/

partners:
  -
    img: artevelde.png
    url: https://www.arteveldehogeschool.be/
  -
    img: 2fd.png
    url: https://www.2fd.be/
  -
    img: bevers.png
    url: http://www.fransbevers.be/
  -
    img: bondmoyson.png
    url: http://www.bondmoyson.be/
  -
    img: captainmorgan.png
    url: https://www.captainmorgan.com/
  -
    img: cocacola.png
    url: http://www.cocacola.be/
  -
    img: deezer.png
    url: http://www.deezer.com/
  -
    img: desperados.png
    url: https://www.desperados.com
  -
    img: ef.png
    url: http://www.ef.be/
  -
    img: gigant.png
    url: http://www.gigantinternational.com/
  -
    img: gsr.png
    url: http://gsr.ugent.be/
  -
    img: hogent.png
    url: http://www.hogent.be/
  -
    img: kul.png
    url: https://www.kuleuven.be/kuleuven/
  -
    img: luca.png
    url: https://www.luca-arts.be/en
  -
    img: maes.png
    url: https://www.maes.be
  -
    img: marmalade.png
    url: http://marmaladecontent.com/
  -
    img: medialed.png
    url: http://www.medialed.be/
  -
    img: mentos.png
    url: http://www.mentos.be
  -
    img: nam.png
    url: http://www.garagenam.be/
  -
    img: odisee.png
    url: http://www.odisee.be/
  -
    img: oostvlaanderen.png
    url: http://www.oost-vlaanderen.be/
  -
    img: peterman.png
    url: http://peterman.be/
  -
    img: redbull.png
    url: http://www.redbull.com
  -
    img: skikot.png
    url: http://winter.skikot.be/
  -
    img: stadgent.png
    url: https://stad.gent/
  -
    img: stadium.png
    url: http://www.stadium.be
  -
    img: studentingent.png
    url: https://stad.gent/trefwoord/student-gent
  -
    img: studiobrussel.png
    url: http://www.stubru.be/
  -
    img: thescreamshop.png
    url: http://www.screamshop.be/
  -
    img: ugent.png
    url: https://www.ugent.be
  -
    img: vdab.png
    url: https://www.vdab.be
  -
    img: wep.png
    url: https://www.wep.be
  -
    img: zwartopwit.png
    url: https://www.zwartopwit.be/
  -
    img: ivent.png
    url: https://www.boostyourevent.be/
  -
    img: backstay.png
    url: https://www.backstaybar.be/

---

<% render '/partials/header_empty.*', image: '/assets/images/design/header4.png' do %>
<div class="headline vertical-center">
  <div class="container">
    <h1>Bedankt aan onze Partners</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ib0qLB4PmtY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<% end %>

<!-- Page Content -->
<% section :yellow do %>
<h1>Presenting Partners</h1>
<div class="grid-presenting">
  <% item[:presentingpartners].each do |partner| %>
  <div class="grid-item-presenting presentingpartner">
    <a href="<%= partner[:url] %>">
      <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
    </a>
  </div>
  <% end %>
</div>
<% end %>

<% section :red do %>
<h1>Partners</h1>
<div class="grid">
  <% item[:partners].each do |partner| %>
  <div class="grid-item partner">
    <a href="<%= partner[:url] %>">
      <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
    </a>
  </div>
  <% end %>
</div>
<% end %>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script src="/assets/javascripts/masonry.js"></script>
