---
title: Partners
presentingpartners:
  -
    img: accent.svg
    url: https://www.accentjobs.be/
  -
    img: kbc.png
    url: https://www.kbc.be/

partners:
  -
    img: odisee.png
    url: http://www.odisee.be/
  -
    img: kul.png
    url: https://www.kuleuven.be/kuleuven/
  -
    img: luca.png
    url: https://www.luca-arts.be/en
  -
    img: audi.svg
    url: http://www.audi.be/
  -
    img: nam.png
    url: http://www.garagenam.be/
  -
    img: artevelde.png
    url: https://www.arteveldehogeschool.be/
  -
    img: 2fd.svg
    url: https://www.2fd.be/
  -
    img: bitstream.svg
    url: https://www.bitstream.be/
  -
    img: bondmoyson.png
    url: http://www.bondmoyson.be/
  -
    img: cocacola.png
    url: http://www.cocacola.be/
  -
    img: gigant.png
    url: http://www.gigantinternational.com/
  -
    img: gsr.png
    url: http://gsr.ugent.be/
  -
    img: hogent.png
    url: http://www.hogent.be/
  -
    img: maes.png
    url: https://www.maes.be
  -
    img: peterman.png
    url: http://peterman.be/
  -
    img: stadgent.png
    url: https://stad.gent/
  -
    img: stadium.png
    url: http://www.stadium.be
  -
    img: studentingent.png
    url: https://stad.gent/trefwoord/student-gent
  -
    img: ugent.svg
    url: https://www.ugent.be
  -
    img: vdab.png
    url: https://www.vdab.be
  -
    img: wep.png
    url: https://www.wep.be/nl
  -
    img: zwartopwit.png
    url: https://www.zwartopwit.be/
  -
    img: bricoplanit.png
    url: https://www.plan-it.be/
  -
    img: beatswitch.png
    url: https://beatswitch.com/
  -
    img: ekart.png
    url: http://www.ekart.be/

---

<% render '/partials/header_empty.*', image: '/assets/images/design/header4.png' do %>
<div class="headline">
  <div class="container">
    <h1>Bedankt aan onze Partners</h1>
    <!-- <iframe style="max-width:560px;width:100%" height="315" src="https://www.youtube.com/embed/Ib0qLB4PmtY" frameborder="0" allowfullscreen></iframe> -->
  </div>
</div>
<% end %>

<!-- Page Content -->
<% section :yellow do %>
<h1>Presenting Partners</h1>
<div class="presenting-partner-grid">
  <% item[:presentingpartners].each do |partner| %>
  <div class="grid-item-presenting presentingpartner">
    <a href="<%= partner[:url] %>">
      <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
    </a>
  </div>
  <% end %>
</div>
<% end %>

<% section :blue do %>
<h1>KBC Mobile</h1>
<p>
  Kom zeker naar de KBC-stand op Student Kick Off, daar vertellen we je alles over onze apps. Download én activeer je ze meteen? Dan krijg je van ons een gratis drankbonnetje. Schol!
</p>
<% end %>

<% section :red do %>
<h1>Partners</h1>
<div class="partner-grid">
  <% item[:partners].each do |partner| %>
  <div class="grid-item partner">
    <a href="<%= partner[:url] %>">
      <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
    </a>
  </div>
  <% end %>
</div>
<% end %>

<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script src="/assets/javascripts/masonry.js"></script>
