---
title: Partners
presentingpartners:
  -
    img: destandaard.png
    url: standaard.be
  -
    img: kbc.png
    url: kbc.be
  -
    img: accent.png
    url: google.be

partners:
  -
    img: wep.png
    url: google.com
  -
    img: desperados.png
    url: google.be
  -
    img: marmalade.png
    url: google.be
  -
    img: gigant.png
    url: google.be
  -
    img: thescreamshop.png
    url: google.be
  -
    img: stadgent.png
    url: google.be
  -
    img: mentos.png
    url: google.be
  -
    img: medialed.png
    url: google.be
  -
    img: kuleuven.png
    url: google.be
  -
    img: artevelde.png
    url: google.be
  -
    img: studiobrussel.png
    url: google.be
  -
    img: stadium.png
    url: google.be
  -
    img: skikot.png
    url: google.be
  -
    img: redbull.png
    url: google.be
  -
    img: studentingent.png
    url: google.be
  -
    img: peterman.png
    url: google.be
  -
    img: odisee.png
    url: google.be
  -
    img: bevers.png
    url: google.be
  -
    img: gsr.png
    url: google.be
  -
    img: ef.png
    url: google.be
  -
    img: cocacola.png
    url: google.be
  -
    img: deezer.png
    url: google.be
  -
    img: bondmoyson.png
    url: google.be
  -
    img: captainmorgan.png
    url: google.be
---

<header class="header-image" style="background-image:url(/assets/images/design/header4.png);">
  <div class="headline"></div>
</header>


<!-- Page Content -->
<div class="section1">
  <div class="container">

    <h1>Presenting Partners</h1>
    <div class="grid-presenting">
      <% item[:presentingpartners].each do |partner| %>
      <div class="grid-item-presenting partner">
        <a href="http://www.<%= partner[:url] %>">
          <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="section2">
  <div class="container">

    <h1>Partners</h1>
    <div class="grid">
      <% item[:partners].each do |partner| %>
        <div class="grid-item partner">
          <a href="http://www.<%= partner[:url] %>">
            <img class="img-responsive" src="/assets/images/partners/<%= partner[:img] %>" alt="">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script src="/assets/javascripts/masonry.js"></script>
