<% render '/partials/header.*', image: '/assets/images/design/header_sv2.jpg' do %>
Student Village
<% end %>

<% section :yellow do %>
  <h1>Student Village?</h1>

  Student Village is het infodorp van Student Kick-Off dat als doel heeft de studenten te informeren over allerlei faciliteiten die studentenverenigingen, onderwijsinstellingen, de stad Gent en andere organisaties aanbieden. Gedurende de hele namiddag (van 12u tot 18u) wordt een deel van het Sint- Pietersplein gevuld met entertainment door verschillende partners, onderwijsinstellingen en studentenverenigingen. In 2015 mocht Student Village maar liefst 15.000 Gentse studenten ontvangen. Er heerst een goedlachse sfeer, studenten vinden elkaar en dagen elkaar uit voor de talloze activiteiten. Naast het entertainment is zoals op elk festival ook de muziek uiteraard niet weg te denken. Namen zoals De Jeugd Van Tegenwoordig, Das Pop, ’t Hof van Commerce, Eddy Wally, Bart Peeters, Flip Kowlier, 2 Fabiola, Gorki en nog veel meer, hebben de voorbije jaren de muzikale kant van ons verhaal mogen helpen verwezenlijken
<% end %>
<% if false %> <!--Inschrijvingen aan/uit-->
<% section :red do %>
<div class="_relative">
  <h1>Registratie</h1>
    <p>Zit jij in de leukste studentenvereniging van Gent? Willen jullie de nieuwe studenten aanspreken op het grootste en tofste feest van het jaar? Maak dan kans op een gratis tentje op de Student Village van Student Kick-Off 2019!
Op woensdag 25 september om 12u openen we weer onze deuren. Van 12u tot 18u kan je met de tofste activiteiten een tentje op onze Student Village vullen. Dit is natuurlijk een grote eer, dus moedigen we jullie aan om er een beetje voor te werken. Wij geven dit jaar 10 tentjes weg, aan 10 verschillende studentenverenigingen.
Wat moet je daarvoor doen? Schrijf je studentenvereniging alvast in via <a href="https://docs.google.com/forms/d/e/1FAIpQLScCgEMu6hNF5w4gjtA51mts6gNOsDWHB8voikrty6sBgaSCvg/viewform?fbclid=IwAR32C8XQzU9lSOymYwcvpx-sZvtN0_q9k292b2s127Tl844bX-fkVUigwB8">deze link</a>.
Na de inschrijving kunnen jullie meteen aan de slag gaan. Deel op Facebook een groepsfoto van jullie studentenvereniging. Geen gewone, saaie klasfoto maar een foto die iets te maken heeft met Student Kick-Off, de zomer of festivals. Vergeet zeker Student Kick-Off niet te taggen zodat wij de likes kunnen volgen.
De 5 foto’s met de meeste likes op zaterdag 31 augustus om 18u krijgen een voorsprong in de tweede ronde: zoek de SKO-stoel. Deze ronde loopt van 2 t.e.m. 6 september. Meer info hierover volgt later.
    </p>
  </div>
<% end %>
<% end %>
<script type="text/javascript">
  $('#registratie').submit(function (e) {
    e.preventDefault();

    var jqxhr = $.post("/form", $("#registratie").serialize(), function() {
      $('#registratie').fadeTo(1000, .3);
      $('#registratie').addClass('_nopointer');

      $('#success').removeClass('_hidden');
      $('#success').addClass('animated fadeIn');
    }).fail(function () {
      $('#registratie').fadeTo(1000, .3);
      $('#registratie').addClass('_nopointer');

      $('#failure').removeClass('_hidden');
      $('#failure').addClass('animated fadeIn');
    });
  });
</script>
