<% render '/partials/header.*', image: '/assets/images/design/header_sv2.jpg' do %>
Student Village
<% end %>

<% section :yellow do %>
  <h1>Student Village?</h1>

  Student Village is het infodorp van Student Kick-Off dat als doel heeft de studenten te informeren over allerlei faciliteiten die studentenverenigingen, onderwijsinstellingen, de stad Gent en andere organisaties aanbieden. Gedurende de hele namiddag (van 12u tot 18u) wordt een deel van het Sint- Pietersplein gevuld met entertainment door verschillende partners, onderwijsinstellingen en studentenverenigingen. In 2015 mocht Student Village maar liefst 15.000 Gentse studenten ontvangen. Er heerst een goedlachse sfeer, studenten vinden elkaar en dagen elkaar uit voor de talloze activiteiten. Naast het entertainment is zoals op elk festival ook de muziek uiteraard niet weg te denken. Namen zoals De Jeugd Van Tegenwoordig, Das Pop, ’t Hof van Commerce, Eddy Wally, Bart Peeters, Flip Kowlier, 2 Fabiola, Gorki en nog veel meer, hebben de voorbije jaren de muzikale kant van ons verhaal mogen helpen verwezenlijken
<% end %>

<% section :red do %>
<div class="_relative">
  <h1>Registratie</h1>
  <form id="registratie" class="basic-form" method="post">
    <p>
      Deze registraties lopen tot 10 augustus, waarna wij als organisatie op basis van de registraties kijken wie wij plaats kunnen bieden.
      Een registratie is dus niet hetzelfde als een zekerheid dat je aanwezig zal kunnen zijn.
      Iedereen wordt na 10 augustus gecontacteerd en wie weerhouden wordt, zal dan ook op de hoogte gebracht worden van het verdere verloop van de procedure om materiaal aan te vragen en contactpersonen door te geven.
    </p>
    <div class="row">
      <input type="text" placeholder="Vereniging" name="Vereniging" required>
    </div>
    <div class="row">
      <input type="text" placeholder="Naam" name="Naam" required>
      <input type="text" placeholder="Voornaam" name="Voornaam" required>
    </div>
    <div class="row">
      <input type="text" placeholder="Functie" name="Functie" required>
      <input type="text" placeholder="GSM-nummer" name="GSM-nummer" required>
    </div>
    <div class="row">
      <input type="email" placeholder="E-mail" name="E-mail" required>
    </div>

    <div>
      <p>
        We verzoeken alle standhouders een korte tekst omtrent de stand en activiteit door te zenden, deze komt dan binnen de rubriek Student Village op de website van de Student Kick-Off.

        De tekst dient:
      </p>
      <ul>
        <li>
          De meerwaarde voor een bezoek aan de infostand te duiden
        </li>
        <li>
          Een omschrijving van de activiteit te bevatten (kan in vorm van teaser)
        </li>
        <li>
          Maximum 75 woorden te bedragen
        </li>
      </ul>
      <p>
        De organisatie is vrij deze tekst te weigeren en niet te publiceren indien niet toepasselijk of ongepast.
      </p>
    </div>

    <textarea name="Beschrijving" rows="8" placeholder="Duidelijke beschrijving geplande activiteit" required></textarea>

    <div class="row -center">
      <p>
        Ik ga akkoord met het reglement bijhorende bij mijn status als partner of niet-partner.
      </p>
    </div>
    <input type="checkbox" name="Akkoord" required>

    <div class="row">
      <input id="submit" type="submit" name="" value="Indienen">
    </div>
  </form>

  <div id="status" class="status-message -success _hidden">
    Uw inzending is goed ontvangen!
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('#registratie').submit(function (e) {
    e.preventDefault();

    var jqxhr = $.post( "/form", $("#registratie").serialize(), function() {
      $('#registratie').fadeTo(1000, .3);
      $('#registratie').addClass('_nopointer');

      $('#status').removeClass('_hidden');
      $('#status').addClass('animated fadeIn');
    });
  });
</script>
