---
title: Vip
---

<% render '/partials/header.*', image: '/assets/images/design/header2.png' do %>
VIP<br />
<iframe class="_shadow" width="560" height="315" src="https://www.youtube.com/embed/MAAG6Sl5iu8?ecver=1" frameborder="0" allowfullscreen></iframe>
<% end %>

<% section :yellow do %>
<h1> Hey, jij daar!</h1>
<p>Ook zin om je steentje bij te dragen voor het goede doel? Laat jouw kunstwerk schitteren in onze VIP! Schrijf je dan <a href="https://goo.gl/forms/5ht1wOXcUnCqLqV73">snel hier in! </a></p>

<h2> Wat? </h2>
<p>Registreer je op onze website. Maak een kunstwerk van maximaal 60x60x60cm en en stuur ons foto's van het resultaat voor 20/09/2017. Enige vereiste: combineer één van onze goede doelen met het thema ‘IN SPACE’. Voor de rest ben je volledig vrij. Een creatieve foto, schilderij, beeldhouwwerk of installatie… Laat die creativiteit de vrije loop en word de ster van onze VIP. </p>

<h2> Deelnemen? </h2>
<p>Iedereen die ingeschreven is aan een onderwijsinstelling kan deelnemen. Ook personen die zich nog zullen inschrijven voor het komend academiejaar kunnen zich inschrijven. Deelnemen kan individueel of in groep van maximaal 5 personen. </p>

<h2>Waarom?</h2>

<p>De 6 winnaars krijgen niet alleen een exclusief VIP duo-ticket tot Student Kick-Off, maar ook 5 drankbonnen, een gratis cocktail, een persoonlijke badge om te netwerken, 10 procent van de opbrengst van jouw kunstwerk, eeuwige roem en aandacht op onze Facebook- en Instagrampagina! </p>
<% end %>

<% section :red do %>
<h1>Proces</h1>
<p>Schrijf je voor 14 september 2017 <a href="https://goo.gl/forms/5ht1wOXcUnCqLqV73"> hier in</a>. Duid de specificaties van je kunstwerk aan en vul je contactgegevens in. Na een bevestigingsmail kan je beginnen aan je kunstwerk dat je kan afgeven tot en met 20 september 2017. Op donderdag 21 september worden de winnaars bekend gemaakt. De winnende kunstwerken worden op Student Kick-Off tentoongesteld in onze VIP. Daar kan iedereen er een vrije gift op doen dat naar een van onze goede doelen gaat.</p>

<% end %>

<% section :blue do %>
<h1> Goede doelen </h1>
<p>Hieronder geven we nog een kort overzicht van de 6 goede doelen die Student Kick-Off jaarlijks steunt. We mogen hen jaarlijks een bedrag van meer dan €30.000 euro doneren, waarmee zij écht het verschil kunnen maken in de projecten die ze realiseren.</p>


<ul>
  <li>Ujeli Care centre</li>
  <p>Voorziet gratis eerstelijnszorg voor kinderen in de regio Pokhara, Nepal.</p>

  <li>NGO Oye LENA</li>
  <p>Zij willen via onderwijs de armoede en sociale ongelijkheid tegengaan. Dit doen ze in Curahuasi, in het hartje van het Andesgebergte op 2.600 meter hoogte..</p>

  <li> Finado Ethiopië</li>
  <p> Finado Ethiopië ondersteunt onderwijsinitiatieven, helpt bij de bouw van scholen, voorziet water en sanitaire voorzieningen,... </p>

  <li> Kompanjon vzw</li>
  <p>Ijvert voor en werkt mee aan gelijke kansen voor alle kinderen en jongeren in het Belgisch onderwijs. Zo kan het onderwijs een hefboom zijn om kansarme kinderen kans-rijker te maken en hen een andere toekomst te bieden.</p>

  <li>Afractie vzw</li>
  <p>Werkt aan de duurzame ontwikkelingsdoelen ten voordele van kinderen en jongeren in armoede in Senegal.</p>

  <li>The Zambians</li>
  <p>Voorziet materiële benodigdheden om kansarme kinderen toch onderwijs te kunnen bieden.</p>

</ul>

<% end %>
