<header class="header-image" style="background-image:url(/assets/images/design/header2.png);">
  <div class="headline"></div>
</header>

<div class="section-yellow">
  <div class="container">
    <div class="row">
      <h1>Wedstrijdreglement</h1>
      <ol>
        <li>Identiteit van de organisator</li>

        Student Kick off vzw is de organisator van deze wedstrijd. Zij heeft haar zetel in de Blekerijstraat nummer 75 te 9000 Gent in België. Haar ondernemingsnummer is 0886.847.343.

        <li>Aanduiding van wie kan deelnemen</li>

        De wedstrijd staat open voor al wie een correct en volledig ingevuld wedstrijdformulier invult op de website van de organisator.

        <li>Duur van de wedstrijd</li>

        <ol type="a">
          <li>Wedstrijd op de Campustour.</li>

          Deze wedstrijd zal doorgaan vanaf maandag 26 september 2016 tot en met dinsdag 27 september 2016.

          <li>Wedstrijd op Sociale Media</li>
            <ol type="i">
              <li>Wedstrijd “bewustmaking omtrent gehoorschade”</li>

              Deze wedstrijd zal gelanceerd worden op 19 september 2016 tot en met het einde van het festival Student Kick off dat plaatsvind op woensdag 28 september 2016.

              <li>Westrijd i.s.m. breezer</li>

              Deze wedstrijd gaat door op woensdag 28 september 2016, de festivaldag van Student Kick Off.
            </ol>
        </ol>
        <li>Precieze omschrijving van wat de deelnemer precies moet doen om kans te maken op prijzen</li>
        <ol type="a">
          <li>Wedstrijd op de Sociale Media kanalen van Student Kick Off</li>
            <ol type="i">
              <li>wedstrijd “bewustmaking omtrent gehoorschade”</li>
                Vanaf 19 september 2016 start Student Kick Off met een wedstrijd op hun sociale media kanalen waarbij deelnemers drie algemene vragen en een schiftingsvraag moeten beantwoorden omtrent gehoorschade.
            </ol>
        </ol>

        <li>De aanduiding van de prijzen</li>
        <ol type="a">
          <li>Wedstrijd “bewustmaking gehoorschade”.</li>
          Deelnemers aan deze wedstrijd maken kans op exclusieve oortjes van zeer goede kwaliteit waarmee zij hun gehoor minder schade toebrengen. Dit van het merk …
        </ol>
        <li>De beperking van de deelname</li>

        Iedere persoon mag slechts één keer meespelen. Personen die meerdere keren trachten mee te spelen met verschillende namen worden uitgesloten.

        <li>De toekenning van de prijzen</li>

        De winnaars worden persoonlijk gecontacteerd vanaf zaterdag 1 oktober 2016 op het door hen opgegeven contactgegevens. Zij dienen hun prijs op te halen tegen uiterlijk 30 november 2016 op het hoofdkantoor van de Student Kick off. Niet opgehaalde prijzen blijven de eigendom van de organisator. Prijzen kunnen niet worden ingeruild voor geld of andere prijzen. De prijzen zijn persoonlijk en niet overdraagbaar.

        <li>Algemene bepalingen over het verloop van de wedstrijd</li>

        Door deel te nemen aanvaardt de deelnemer onvoorwaardelijk dit reglement. Het reglement wordt gepubliceerd op de website van de organisator (www.studentkickoff.be). Voor alles wat niet in dit reglement staat mag de organisator de nodige maatregelen nemen om de wedstrijd goed te laten verlopen. In geval van bijzondere omstandigheden mag de organisator tevens dit reglement aanpassen waar nodig.

        <li> Beperking van aansprakelijkheid</li>

        De organisator van deze wedstrijd kan niet aansprakelijk worden gesteld in geval de wedstrijd door bijzondere omstandigheden gewijzigd of geannuleerd moet worden. De organisator sluit tevens iedere aansprakelijkheid uit voor schade die door zijn fout zou worden veroorzaakt, behoudens voor het niet – uitvoeren van verbintenissen die één van de voornaamste prestaties vormen van deze overeenkomst.

        <li>Privacy &amp; recht op afbeelding</li>

        De organisator van deze wedstrijd zal uw persoonsgegevens verwerken volgens zijn privacypolicy waarmee de deelnemer expliciet instemt in het wedstrijdreglement. Iedere deelnemer heeft het recht om zijn of haar persoonsgegevens in te zien en om ze te laten verbeteren indien ze niet correct zouden zijn. Het volstaat om daarvoor contact op te nemen met de verantwoordelijke voor het verwerken van de gegevens op het volgend emailadres: it@studentkickoff.be

        Wie aan de wedstrijd deelneemt en een prijs wint, stemt er mee in dat zijn gegevens en afbeelding voor promotiedoeleinden gebruikt worden door de organisator gedurende 10 jaar na het afsluiten van de wedstrijd. De winnaars zullen zich ter beschikking houden van de organisator om bij het afhalen van hun prijs foto’s en beeldopnamen te laten maken.

        <li>Geschillen</li>

        In geval van geschillen proberen de partijen dit eerst minnelijk met elkaar te regelen. Deze eerste poging tot onderling overlegt staat het recht van de consument om de zaak voor de rechtbank te brengen niet in de weg. Indien dit faalt zijn enkel de rechtbanken van Oost – Vlaanderen, arrondissement Gent bevoegd. De rechtbanken zullen het Belgische recht toepassen om uitspraak te doen.

        <li>Disclaimer</li>

        De organisator behoudt zich het recht voor om in elk afzonderlijke jurisdictie de wedstrijd op de te schorten of in te trekken indien zij daartoe gedwongen wordt omwille van wettelijke redenen of dringende zelfregulerende redenen zonder dat zij enige recht op compensatie of tegemoetkoming aan de deelnemers verschuldigd is.

      </ol>
    </div>
  </div>
</div>
<div class="section-red">
  <div class="container">
    <div class="row">
      <h1>Privacyverklaring</h1>
        <ol>
          <li>Identiteit van de organisator.</li>
          Student Kick off vzw is de organisator van deze wedstrijd. Zij heeft haar zetel in de Blekerijstraat nummer 75 te 9000 Gent in België. Haar ondernemingsnummer is 0886.847.343. Binnen Student Kick off is team it verder verantwoordelijk voor de verwerking van de gegevens van de deelnemers.
          <li>Doeleinde van de verwerking.</li>
          De persoonsgegevens van de deelnemers worden verwerkt voor de uitvoering van de overeenkomst met de deelnemers en voor marketing doeleinden. De gegevens van de deelnemers kunnen worden meegedeeld aan partners met wie de organisatie contractueel verbonden is waarvan de lijst gepubliceerd is op de partnerpagina van de website van de organisator.
          <li>Bestaan van het recht om zich tegen de verwerking te verzetten.</li>
          De deelnemers hebben het recht om zich tegen de verwerking van zijn gegevens te verzetten. De deelnemer dient hiervoor contact op te nemen met de organisator op volgend adres: it@studentkickoff.be
          <li>Bestaan van het recht om te verbeteren</li>
          De deelnemer heeft het recht om zijn gegevens in te kijken en te verbeteren. Hiervoor moet de hij of zij contact opnemen met de organisator op het volgend adres: it@studentkickoff.be
        </ol>
    </div>
  </div>
</div>


