/* imports */
@import 'abstracts';
@import 'index';
@import 'meetthecrew';
@import 'faq';

/* ==fontshit== */
@charset "utf-8";
@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/assets/fonts/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/UNIVERSL_5.TTF') format('truetype');
}

/* ==markup== */

/* Make sure divs dont overflow to the right */
/* I don't know how this works ¯\_(ツ)_/¯ */
html {
  position: relative;
  overflow-x: hidden;

  body {
    overflow-x: hidden;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {

  .navbar {
    position: relative;

    background-color: $header-color;

    padding-top: 200px;
    transform: rotate($rot) translateY(-200px);
    width: 110%;
    margin-left: -10px;
    text-transform: uppercase;

    border: none;

    a {
      color: $colyel !important;
    }
  }

  footer {
    position: relative;
    padding-bottom: 341px;
    margin-top: 160px;
    background-color: $colblue;

    h1 {
      transform: rotate($rot);
      font-size: 6em;
      padding-bottom: 20px;
      color: $colyel
    }

    h2 {
      text-align: left;
      color: white;
    }

    p {
      text-align: left;
      color: white;
      font-size: 120%;
    }

    &:before {
      @extend .diag;
    }

    input, button {
      border: 3px solid white;
      border-radius: 0px;
      background-color: #7eb4e2;
      color: white;
      font-weight: bold;
      margin-bottom: 20px;
      width: 47.5%;
      padding: 10px;
    }

    .buttonrapper {
      display: flex;
      justify-content: center;
    }

    .inputleft {
      margin-right: 4%;
    }

    textarea {
      @extend input;
      width: 100%;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0.7;
    }

    h3 {
      position: absolute;
      font-weight: bold;
      font-family: 'LeagueGothic-Regular';
      color: $colyel;
      left: 50%;
      bottom: 20px;
    }
  }

}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color:rgba(228,48,38,1.0);
  }
}

body {
  font-family: 'Univers';
}

h1, h2, h3, h4, h4, .navbar {
  font-family: 'LeagueGothic-Regular';
}

a, a:hover {
  color: #e43026;
}



.navbar {
  font-size: x-large;
  margin-bottom: 0;
}


.navbar-inverse .navbar-nav {
  li  {

    a, .navbar-inverse .navbar-brand {
      color: #f0f0f0;
    }

    a:hover, .navbar-inverse .navbar-brand:hover {
      color: #ffd24f;
    }
  }

}

.navbar-brand {
  font-size: xx-large;
}

.portfolio-item {
  margin-bottom: 25px;
}

.page-header, hr {
  border-color: #0087c2;
}

.question-toggle:hover {
  cursor: pointer;
}



.presentingpartner {
  width: 200px;
}

.partner {
  width: 200px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
