  @charset "utf-8";
@import "normalize";
@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/assets/fonts/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/UNIVERSL_5.TTF') format('truetype');
}

@media only screen and (min-width: 768px) {
  .diagonal {
    transform: rotate(-7deg) translateX(-10px) translateY(-200px);
    padding-top: 200px;
  }

  .navbar {
    background-color:rgba(228,48,38,0.7);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color:rgba(228,48,38,1.0);
  }
}


body {
  font-family: 'Univers';
}

h1, h2, h3, h4, h4, .navbar {
  font-family: 'LeagueGothic-Regular';
}

a, a:hover {
  color: #e43026;
}

.headerlogo {
  max-height: 250px;
}

.navbar {
  font-size: x-large;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
  color: #ffd24f;
}

.navbar-brand {
  font-size: xx-large;
}

.portfolio-item {
  margin-bottom: 25px;
}

.page-header, hr {
  border-color: #0087c2;
}

.question-toggle:hover {
  cursor: pointer;
}

footer {
  margin: 50px 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.presentingpartner {
  min-height: 250px;
  background-color: #aaaaaa
}

.partner {
  min-height: 150px;
  background-color: #aaaaaa
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
