/* ==variables== */
$rot: -4deg;
$colblue: #0087c2;
$colyel: rgb(258, 181, 75);
$colred: #e94b43;

$photosliderheight: 250px;
$photoslidertextsize: 50px;

/* ==fontshit== */

@charset "utf-8";
@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/assets/fonts/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Univers';
  src: url('/assets/fonts/UNIVERSL_5.TTF') format('truetype');
}

/* ==markup== */

/* Make sure divs dont overflow to the right */
html {
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {

  .navbar {
    position: relative;

    background-color: $colblue;

    padding-top: 200px;
    transform: rotate($rot) translateY(-200px);
    width: 110%;
    margin-left: -10px;

    text-transform: uppercase;
  }

  /* ==abstract sections== */
  .diag{
    position: absolute;
    transform: rotate($rot);
    transform-origin: 3% 0;
    left: -25%;
    width: 150%;
    z-index: -1;
    height: 160px;
    background: inherit;
    content:'';
  }

  .section{
    position: relative;
    margin-bottom: 160px;
    margin-top: -10px;

    &:before, &:after {
      @extend .diag;
    }
  }

  .section1 {
    @extend .section;
    background-color: $colred;
  }

  .section2 {
    @extend .section;
    background-color: $colyel
  }

  .section3 {
    background-color: $colblue;
  }

  .photoslider {
    @extend .diag;
    z-index: 10;
    position: relative;
    display: inline-flex;

    img {
      margin-left: -5px;
      height: $photosliderheight;
    }

    p {
      position: absolute;
      top: ( $photosliderheight / 2) - ($photoslidertextsize / 2);
      left: 50vw;

      font-family: 'LeagueGothic-Regular';
      font-size: $photoslidertextsize;
    }
  }

  footer {
    position: relative;
    text-align: center;
    padding-bottom: 150px;
    margin-top: 160px;
    background-color: $colblue;

    &:before {
      @extend .diag;
    }

    img {
      position: absolute;
      left: 0;
      background-color: $colblue;
      transform: rotate($rot);
      width: 110%;
      clip-path: inset(0px 0px 50px 0px);
    }
  }

  .videosection {
    position: relative;
    height: 50vw;
    width: 50vw;

    img {
      position: absolute;
      height: auto;
      width: inherit;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color:rgba(228,48,38,1.0);
  }
}

body {
  font-family: 'Univers';
}

h1, h2, h3, h4, h4, .navbar {
  font-family: 'LeagueGothic-Regular';
}

a, a:hover {
  color: #e43026;
}

.headerlogo {
  max-height: 250px;
}

.navbar {
  font-size: x-large;
  margin-bottom: 0;
}


.navbar-inverse .navbar-nav {
  li  {

    a, .navbar-inverse .navbar-brand {
      color: #f0f0f0;
    }

    a:hover, .navbar-inverse .navbar-brand:hover {
      color: #ffd24f;
    }
  }

}

.navbar-brand {
  font-size: xx-large;
}

.portfolio-item {
  margin-bottom: 25px;
}

.page-header, hr {
  border-color: #0087c2;
}

.header-image {
  position: relative;
  z-index: -5;
}

.question-toggle:hover {
  cursor: pointer;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.presentingpartner {
  min-height: 250px;
  background-color: #aaaaaa
}

.partner {
  min-height: 150px;
  background-color: #aaaaaa
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.headline {
  .container {
    display: flex;
    justify-content: center;

    height: 160px;

    img {
      width: 95px;
    }

    > * {
      margin-left: 25px;
      margin-right: 25px;
    }

    .counter {
      font-family: 'LeagueGothic-Regular';

      width: 100px;
      text-align: left;
      color: white;

      text-transform: uppercase;
      font-size: 1.5em;

      .number {
        position: relative;
        color: $colred;

        line-height: 130px;
        font-size: 90pt;
        text-align: center;

        height: 100%;

        background-image: url("/assets/images/TELLER2.svg");
        background-size: contain;
        background-repeat: no-repeat;

        img {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
