<% render '/partials/header_empty.*', image: @image, extra_classes: @extra_classes do %>
<div class="headline">
  <div class="container">
    <h1 class="alt"><%= yield %></h1>
  </div>
</div>
<% end %>
