<header class="header-image <%= @extra_classes%>">
  <img class="header-background" src="<%= @image %>" />
  <div class="headline">
    <div class="container">
      <h1><%= yield %></h1>
    </div>
  </div>
</header>
