<header class="header-image <%= @extra_classes%>">
  <div class="header-background" style="background-image:url(<%= @image %>);">
    <!-- Nothing -->
  </div>
  <div class="headline">
    <div class="container">
      <h1><%= yield %></h1>
    </div>
  </div>
</header>
