<% render '/partials/header.*', image: "/assets/images/artists/#{item[:image]}" do %>
<%= item[:name] %>
<% end %>
<div class="section1">
  <div class="container">
    <h2><%= pretty_time(item[:start]) %> | Main Stage</h2>
    <%= yield %>
  </div>
</div>
