<div class="container ">

      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">FAQ</h1>
          </div>
      </div>

    <div class="panel-group" id="faqAccordion">

        <% item[:questions].each_with_index do |lid, index| %>
            <div class="panel ">
                <div class="accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question<%= index %>">
                     <h3>Q: <%= lid[:q] %>?</h3>
                </div>
                <div class="panel-collapse collapse" id="question<%= index %>">
                    <div class="panel-body">
                        <%= lid[:a] %>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
</div>
