---
title: Juridische
---
<header class="header" style="background-image: url(/assets/images/org/2018/charlotteparmentier.jpg);">
    <div class="headline"></div>
</header>

<% section :yellow do %>
<h1>Financieel Verantwoordelijke</h1>

<h3>Roxane Van Rie</h3>

<p>Zoals de titel verduidelijkt staat deze persoon in voor de geldzaken in de organisatie van de Student Kick Off. Het financiële aspect houdt in dat de verantwoordelijke geld mag uitgeven om de verschillende leveranciers van de Student Kick Off te betalen maar ook geld mag vragen door facturen uit te sturen naar onze verschillende partners. Daarboven houdt de financieel verantwoordelijke de begroting in de gaten zodat de verschillende teams niet over hun budget gaan. Ook houdt deze verantwoordelijke een interne boekhouding bij waarin alle daadwerkelijke uitgegeven kosten met de begroting vergeleken worden waardoor ieder team kan bijhouden hoeveel budget ze nog kunnen uitgeven.</p>
<p>Op de showdag van Student Kick Off leidt de financieel verantwoordelijk team finance die instaan voor alle geldzaken op het terrein.</p>
<p>Concreet kan je bij deze persoon terecht voor de volgende vragen: 'ik heb mijn vinger bezeerd op student kick off, wat nu?' 'ik heb een factuur uitgeschreven aan Student kick off, wie gaat deze betalen?' 'ik heb een contract met student kick off om stoelen te leveren maar ik kan deze niet leveren, wat nu?'</p>
<% end %>
