<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Meet The Crew</h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-8">
          <img class="img-responsive" src="/images/organisatie.jpg" alt="">
      </div>
      <div class="col-md-4">
          <h3>De organisatie</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <p>De kern bestaat uit:</p>
          <ul>
            <li>1 <a href="/meetthecrew/algemeencoordinator">Algemeen Coordinator</a></li>
            <li>1 <a href="/meetthecrew/juridische">Juridische verantwoordelijke</a></li>
            <li>7 Team Leads</li>
          </ul>

          <p>Ieder team bestaat uit:</p>
          <ul>
            <li>1 Team Lead</li>
            <li>Coordinatoren</li>
            <li>Crew Leads</li>
          </ul>
      </div>
  </div>

  <div class="row">

      <div class="col-lg-12">
          <h3 class="page-header">Meet the Teams</h3>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teamit">Team IT</a></p>
          <a href="/meetthecrew/teamit">
              <img class="img-responsive portfolio-item" src="/images/teamit.jpg" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teamsite">Team Site & Safety</a></p>
          <a href="/meetthecrew/teamsite">
              <img class="img-responsive portfolio-item" src="/images/teamsite.jpg" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teampartners">Team Partners</a></p>
          <a href="/meetthecrew/teampartners">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teampr">Team PR</a></p>
          <a href="/meetthecrew/teampr">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>
  </div>

  <div class="row">

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teamproductie">Team Productie</a></p>
          <a href="/meetthecrew/teamproductie">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teambeverages">Team Beverages</a></p>
          <a href="/meetthecrew/teambeverages">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/teamhr">Team HR</a></p>
          <a href="/meetthecrew/teamhr">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <p><a href="/meetthecrew/rvb">Raad van Bestuur</a></p>
          <a href="/meetthecrew/rvb">
              <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
          </a>
      </div>

  </div>

</div>
